.main-content.customer-info-page.ng-scope{"ng-controller" => "CartCreditCardCtrl"}
  / landing-page-content
  = form_for @order, url: checkout_eway_index_path, html: {'ng-submit' => "submitForm()"} do |f|
    .center
      .col-lg-6.col-md-6.col-sm-6.col-xs-12.customer-info-left
        %h2 Customer Information
        #info.form
          .radio
            %label{:for => "ci-email"} Email
            %input#ci-email.ng-pristine.ng-valid{:name => "order[email]", "ng-blur" => "fieldBlur()", "ng-model" => "checkout.email", :placeholder => "john.doe@email.com", :type => "text"}
            .clearfix
          %h3 Shipping Address
          .radio.fname-border
            %label{:for => "ci-fname"} First Name
            %input#ci-fname.ng-pristine.ng-valid{:name => "order[first_name]", "ng-blur" => "fieldBlur()", "ng-model" => "checkout.first_name", :placeholder => "John", :type => "text"}
            .clearfix
          .radio.border-rad0.margtop-1
            %label{:for => "ci-lname"} Last Name
            %input#ci-lname.ng-pristine.ng-valid{:name => "order[last_name]", "ng-blur" => "fieldBlur()", "ng-model" => "checkout.last_name", :placeholder => "Doe", :type => "text"}
            .clearfix
          .radio.border-rad0.margtop-1
            %label{:for => "ci-address"} Address
            %input#ci-address.ng-pristine.ng-valid{:autocomplete => "off", :name => "order[address]", "ng-blur" => "fieldBlur()", "ng-model" => "checkout.address", :placeholder => "123 ABC Street", :type => "text"}
            .clearfix
          .radio.border-rad0.margtop-1
            %label{:for => "ci-state"} Suburb/Town
            %input#ci-town.ng-pristine.ng-valid{:name => "order[city]", "ng-blur" => "fieldBlur()", "ng-model" => "checkout.city", :placeholder => "City", :type => "text"}
            .clearfix
          .radio.border-rad0.margtop-1
            %label{:for => "ci-state"} State
            %input#ci-state.ng-pristine.ng-valid{:name => "order[state]", "ng-blur" => "fieldBlur()", "ng-model" => "checkout.state", :placeholder => "State", :type => "text"}
            .clearfix
          .radio.border-rad0.margtop-1
            %label{:for => "ci-pcode"} Postal Code
            %input#ci-pcode.ng-pristine.ng-valid{:autocomplete => "off", :name => "order[zip]", "ng-blur" => "fieldBlur()", "ng-model" => "checkout.zip", :placeholder => "1110", :type => "text"}
            .clearfix
          .radio.border-rad0.margtop-1
            %label{:for => "ci-country"} Country
            %input#ci-ccode{:name => "order[country_code]", "ng-value" => "checkout.country_code", :type => "hidden"}
            %input#ci-country.ng-pristine.ng-valid{"ng-blur" => "fieldBlur()", :name => "order[country_name]", "ng-change" => "selectCountry(this)", "ng-model" => "checkout.country_name", :placeholder => "Australia", :type => "text"}
            .clearfix
          .radio.border-rad0.margtop-1.phone-border
            %label{:for => "ci-phone"} Phone
            %input#ci-phone.ng-pristine.ng-valid{:name => "order[phone]", "ng-blur" => "fieldBlur()", "ng-model" => "checkout.phone", :placeholder => "66 7 3188 5168", :type => "text"}
            .clearfix
          %h3 Billing & Payment
          .radio.fname-border
            %label{:for => "ci-cards"} Credit Card
            %p.cards-holder
              %img{:src => "/assets/cards.png"}
            .clearfix
          .radio.border-rad0.margtop-1
            %label{:for => "ci-card-number"} Credit Number
            %input#ci-card-number.ng-pristine.ng-valid{:name => "order[cc_number]", "ng-model" => "checkout.cc_number", :placeholder => "----  ----  ----  ----", :type => "text"}
            .clearfix
          .radio.border-rad0.margtop-1
            %label{:for => "ci-expiry"} Expiry
            .col-lg-12.nopadding.select2
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                = select_month nil, {add_month_numbers: true}, {name: 'order[month]', "ng-model" => "checkout.month"}
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: 'order[year]', "ng-model" => "checkout.year"}
              .clearfix
            .clearfix
          .radio.border-rad0.margtop-1.phone-border
            %label{:for => "ci-ccv"} CCV
            %input#ci-ccv.ng-pristine.ng-valid{:name => "order[cvn]", "ng-model" => "checkout.cvn", :placeholder => "123", :type => "text"}
            .clearfix
          %input.place-order-now{:type => "submit", :value => "Place My Order Now"}
          %img{:src => "/assets/sponsor-logo.png", :style => "display:block; margin: 0 auto;"}
          .clearfix
      .col-lg-6.col-md-6.col-sm-6.col-xs-12.customer-info-right
        .order-summary{'ng-cloak' => ""}
          .order-summary-header
            %h3 Order Summary
          .order-summary-body
            / ngRepeat: item in items
            .item-summary{:'ng-repeat' => "item in items"}
              %a#item1-close.close-black{:href => "#", 'ng-click' => "removeItem(item.id)"}
              %ul
                %li
                  %img{:alt => "shirt", :'ng-src' => "{{item.image}}"}
                  .product-info{:style => "margin-top: 5px"}
                    %span.product-info-name
                      %strong {{item.product_title}}
                    %span.product-info-description
                      {{item.quantity}} pc(s) {{item.size_name}} - {{item.type_name}}

                  %span.shirt-value {{item.price * item.quantity  | currency:"$"}}
                  .clearfix
              %span.arrive-due-date Your order is due to arrive on {{item.delivery_date | niceDate}}

            - if Rails.env.development?
              .discount
                %a.discount-link.ng-hide{:href => "#", "ng-click" => "toggleCoupon()", "ng-show" => "!show_coupon"} Have a discount code? Click here to enter it
                #coupon-discount-form.discount-form{"ng-show" => "show_coupon"}
                  %label{:for => "checkout_discount_code"} Discount
                  %input#checkout_discount_code.ng-pristine.ng-valid{:name => "order[coupon_code]", "ng-model" => "coupon.code", :placeholder => "......", :size => "30", :type => "text"}
                  %input.discount-btn{:name => "commit", "ng-click" => "applyCoupon()", :type => "button", :value => "Apply"}
            .order-summary-section
              %ul
                %li
                  Subtotal
                  %span.ng-binding {{total  | currency:"$"}}
                %li
                  Shipping
                  %span.ng-binding {{shipping  | currency:"$"}}
                %li{'ng-show' => "coupon.discount"}
                  Discount
                  %span.ng-binding {{coupon.discount}}%
                %li
                  Total
                  %span.ng-binding {{total + shipping  | currency:"$"}}
            .payment-due
              %p
                Payment Due
                %span.due-value.ng-binding
                  %span.currency aud
                  {{total + shipping - discount  | currency:"$"}}
      .clearfix
  %script{:src => "//expresscapture.datatoolscloud.net.au/js/expresscapture-2.20.min.js?key=UE93-DR37-AT75-PU78", :type => "text/javascript"}
  %link{:href => "//expresscapture.datatoolscloud.net.au/css/expresscapture-2.20.min.css?key=UE93-DR37-AT75-PU78", :rel => "stylesheet", :type => "text/css"}