.main-content.customer-info-page{:'ng-controller' => "CartListCtrl"}
  / landing-page-content
  .center
    = form_for :order, url: checkout_cart_index_path(:payment => "PP") do |c|
      - unless @errors.blank?
        .alert.alert-danger
          %ul{:style => "margin: 0;"}
            - @errors.each do |err|
              %li=err

      .col-lg-6.col-md-6.col-sm-6.col-xs-12.customer-info-right
        .order-summary
          .order-summary-body

            .item-summary{:'ng-repeat' => "item in items"}
              %a#item1-close.close-black{:href => "#", 'ng-click' => "removeItem(item.id)"}
              %ul
                %li
                  %img{:alt => "shirt", :'ng-src' => "{{item.image}}"}
                  .product-info{:style => "margin-top: 5px"}
                    %span.product-info-name
                      %strong {{item.product_title}}
                    %span.product-info-description
                      {{item.quantity}} pc(s) {{item.size_name}} - {{item.type_name}}

                  %span.shirt-value {{item.price * item.quantity  | currency:"$"}}
                  .clearfix
              %span.arrive-due-date Your order is due to arrive on {{item.delivery_date | niceDate}}

      .col-lg-6.col-md-6.col-sm-6.col-xs-12.customer-info-right
        .order-summary
          .order-summary-header
            %h3 Order Summary
          - if Rails.env.development?
            .discount
              %a.discount-link{:href => "#", "ng-click" => "toggleCoupon()", "ng-show" => "!show_coupon"} Have a discount code? Click here to enter it
              #coupon-discount-form.discount-form{"ng-show" => "show_coupon"}
                %label{:for => "checkout_discount_code"} Discount
                %input#checkout_discount_code.ng-pristine.ng-valid{"ng-model" => "coupon.code", :placeholder => "......", :size => "30", :type => "text"}
                %input.discount-btn{:name => "commit", "ng-click" => "applyCoupon()", :type => "button", :value => "Apply"}
          .order-summary-section
            %ul
              %li
                Subtotal
                %span.ng-binding {{total  | currency:"$"}}
              %li
                Shipping
                %span.ng-binding {{shipping  | currency:"$"}}
              %li{'ng-show' => "coupon.discount"}
                Discount
                %span.ng-binding {{coupon.discount}}%
              %li
                Total
                %span.ng-binding {{total + shipping | currency:"$"}}
          .payment-due
            %p
              Payment Due
              %span.due-value.ng-binding
                %span.currency aud
                {{total + shipping - discount | currency:"$"}}
        .checkout-btn
          %a.green{:href => creditcard_cart_index_path} Checkout via Card
          %a.btn-sm-custom-pop02.popup-checkout-button{:href => checkout_cart_index_path}
            Checkout with
            %span Paypal

      .clearfix