!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
	%head
		%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title
			FanTees - Unfinished Order
		%meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
	%body{style:"margin:0;"}
		
		= image_tag render_email_pixel_url("30-minutes"), {:style=>"display:none;"}
		
		%table{width:"600", border:"0", style:"color:#000;font-size:12px;margin:0 auto;background:#fff;font-family: 'Open Sans', sans-serif;font-weight:400;", cellspacing:"0"}
			%tr
				%td{colspan:"2", style:"padding:0;"}
					%div{style:"padding: 30px; font-size: 15px;font-family:Arial, Helvetica, sans-serif; color: #666;"}
						%p 
							= "Hey #{@first_name},"
						%p Following your recent visit to FanTees.com I can see you might have left some items in your cart...
						%p ..If you haven't done so already, you can complete your order by clicking the checkout button below.
						%p Or if you have any questions feel free to give me a call on 1300 76 65 67 and I'd be happy to help.
						%p{style:"text-align:center"}
							%a{href:"#{@rebuild_url}"}
								%img{src:"https://s3.amazonaws.com/ftemail/proceed-checkout.png"}
						%p 
							= "-Adrienne"
							%br
							= "Head of Customer Happiness"