body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-size: 18px;
  line-height:normal;
  font-family: 'Roboto', sans-serif;
}
img {
  max-width: 100%;
}
.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}
.clearfix {
  clear: both;
}
.nopadding {
  padding: 0;
}
.nopadright {
  padding-right: 0;
}
.nopadleft {
  padding-left: 0;
}
.spacer {
  height: 30px;
}
p {
  margin: 0 0 20px;
  font-weight: normal;
}
h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}
a:focus, input {
  outline: none !important;
}

.search-wrap ::-webkit-input-placeholder {
  color: #fff;
}
.search-wrap ::-moz-placeholder {
  color: #fff;
}
.search-wrap :-msinput-placeholder {
  color: #fff;
}


/**>>>>>> navigation <<<<<<**/

.icon-bar{
  background: none repeat scroll 0 0 #FFFFFF;
    color: #FFFFFF;
    height: 2px;
}
.navbar-toggle {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #fff;
}
.navbar-brand{
  color:#fff;
}
.navbar-header {
    background: none repeat scroll 0 0 #141823;
    margin-top: 20px;
}
.nav-wrap ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-wrap ul li {
  float: left;
}
.nav-wrap ul li a {
  color: #fff;
    display: block;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    padding: 10px;
  border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.nav-wrap ul li:hover > a {
  background: #3ea3e6;
}
/*for sub-menu*/
.nav-wrap ul ul {
  background: none repeat scroll 0 0 rgba(62, 163, 230, 0.6);
  display: none;
    position: absolute;
    width: 210px;
  box-shadow: 1px 1px 1px #111;
  z-index: 2;
}
.nav-wrap ul li:hover ul {
  display: block;
}
.nav-wrap ul ul li {
  display: block;
  float: none;
}
.nav-wrap ul ul li a {
  display: block;
  text-align: left;
}
.has-sub > a {
  background: url(/assets/nav-arrow.png) right center no-repeat;
}
.has-sub:hover > a {
  background: url(/assets/nav-arrow-white.png) right center no-repeat #524f26 !important;
}

/*** header style ***/
.fixed {
  position:fixed;
  width:100%;
}
.header-wrap {
    /*background: url("/assets/colladge-bg.jpg") repeat scroll center -20px rgba(0, 0, 0, 0);*/
  background-image:url("/assets/colladge-bg.jpg");
  background-repeat:repeat;
  background-position:center -20px;
    background-color:rgba(0, 0, 0, 0);
  background-attachment:fixed;
}
.logo-nav-wrap {
    padding: 25px 0;
}
.nav-wrap nav {
    float: right;
}

.banner-wrap {
    color: #fff;
    padding: 5% 10px;
}
.banner-wrap h1 {
  font-size: 58px;
    font-weight: bold;
    margin: 0 0 30px;
}
.banner-wrap p {
  font-size: 24px;
  margin: 0 0 30px;
}
.banner-wrap .btn {
    border-radius: 3px;
    font-size: 21px;
    margin: 0 15px 15px;
    max-width: 280px;
    padding: 15px 0;
    text-transform: uppercase;
    width: 100%;
}

/*** logo-wrap ***/

.brand-logo-wrap {
    background: none repeat scroll 0 0 #f0f0f0;
    padding: 20px 0;
    text-align: center;
}
.brand-logo-wrap ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.brand-logo-wrap ul li {
    display: inline-block;
    margin: 10px 15px;
}

.search-wrap {
    padding: 5px 0 0;
    position: relative;
}
.search-btn {
    /*background: url("/assets/search-icon.png") no-repeat scroll center center rgba(0, 0, 0, 0.4);*/
  background-image:url("/assets/search-icon.png");
  background-repeat:no-repeat;
  background-position:center center;
    background-color:rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    cursor: pointer;
    display: block;
    height: 30px;
    width: 30px;
}
.search-form {
  display: none;
  position: absolute;
}
.search-visible {
  display: block;
    left: -202px;
    top: 52px;
    transition: all 0.3s linear 0s;
    width: 240px;
}
.search-form input[type="text"] {
    /*background: none repeat scroll 0 0 rgba(62, 163, 230, 0.6);*/
    background-image:none;
  background-repeat:repeat;
  background-position:0 0;
    background-color:rgba(62, 163, 230, 0.6);
    border: 0 none;
    color: #fff;
    float: left;
    height: 50px;
    padding-left: 10px;
    width: 80%;
}
.search-form input[type="submit"] {
    /*background: none repeat scroll 0 0 #3498db;*/
  background-image:none;
  background-repeat:repeat;
  background-position:0 0;
    background-color:#3498db;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    float: left;
    height: 50px;
    width: 20%;
}
.search-form:before {
    border-bottom: 10px solid #3498db;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    right: 19px;
    top: -10px;
    z-index: 10;
}

/*** homepage content wrap ***/
.homepage-content-wrap {
  padding: 40px 0;
}
.homepage-content-wrap h2 {
    color: #3498db;
    font-size: 34px;
    font-weight: bold;
  margin: 0 0 30px;
}
.homepage-content-wrap p {
  color: #333333;
  font-size: 21px;
}
.say-box {
    border: 1px solid #5eccff;
    border-radius: 3px;
  background: #fff;
    padding: 15px;
    position: relative;
}
.say-box:before {
  position: absolute;
  /*background: url(/assets/left-arrow.png) center top no-repeat;*/
  background-image:url(/assets/left-arrow.png);
  background-repeat:no-repeat;
  background-position:center top;
  content:"";
  display: block;
  left: -16px;
  height: 26px;
  width: 16px;
  top: 40%;
}
.say-photo {
  padding-top: 5px;
}
.say-box p {
    color: #7f8c8d;
    font-style: italic;
  font-size:17px;
}
.say-name {
    display: block;
    font-size: 14px;
}
.testi1-photo {
  padding-top: 5px;
}
.testi2-photo {
  padding-top: 22px;
}
.testi3-photo {
  padding-top: 60px;
}

/*** stats-wrap ***/
.stats-wrap {
    /*background: url("/assets/colladge-bg.jpg") repeat scroll center top rgba(0, 0, 0, 0);*/
  background-image:url("/assets/colladge-bg.jpg");
  background-repeat:repeat;
  background-position:center top;
  background-color:rgba(0, 0, 0, 0);
    padding: 40px 0;
  background-attachment:fixed;
}
.stats-wrap h2 {
    color: #fff;
    font-size: 36px;
    margin: 0 0 20px;
    text-align: center;
}
.stats-wrap p {
    color: #fff;
    font-size: 18px;
    margin: 0 0 30px;
    text-align: center;
}
.stat-box h3 {
    background: none repeat scroll 0 0 #3498db;
  background-image:none;
  background-repeat:repeat;
  background-position:0 0;
  background-color:#3498db;
    color: #fff;
    font-size: 18px;
    margin: 0;
    padding: 15px 0;
    text-align: center;
}
.stat-box {
    border: 1px solid #7f8c8d;
    border-radius: 3px;
  background: #fff;
  margin: 0 0 20px;
}
.stat-content {
    padding: 20px;
}

.calculate {
    background-color: #3498db;
    color: #fff;
    float: right;
    font-size: 14px;
    line-height: 1;
    margin-top: 8px;
    text-transform: uppercase;
}

.calculate:hover {
    color:#fff;
  opacity:0.9;
}

.spacer {
  height:20px;
}

.fans-social {
    color: #7f8c8d;
    font-size: 16px;
    padding: 10px 15px;
}
.fans-count input[type="text"] {
    border: 1px solid #7f8c8d;
    border-radius: 3px;
    padding: 3px 15px;
    width: 100%;
  margin-top: 5px;
}
.stat-right ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.stat-right ul li {
    font-size: 21px;
    font-weight: bold;
    padding: 13.6px;
}
.homepage-content-bg {
  background: #f0f0f0;
}
.nofeehassle {
  padding-top: 60px;
}

/**** bottom banner-wrap ***/

.bottom-banner-wrap {
    /*background: url("/assets/bottom-banner-bg.jpg") repeat scroll center top rgba(0, 0, 0, 0);*/
  background-image:url("/assets/bottom-banner-bg.jpg");
  background-repeat:repeat;
  background-position:center top;
  background-color:rgba(0, 0, 0, 0);
    color: #fff;
    padding: 40px 0;
    text-align: center;
}
.bottom-banner-wrap h2 {
    font-size: 36px;
    margin: 0 0 30px;
}
.bottom-banner-wrap p {
    font-size: 24px;
    margin: 0 0 30px;
}
.bottom-banner-wrap .btn {
    border: 0 none;
    font-size: 21px;
    font-weight: 500;
    max-width: 280px;
    padding: 15px 0;
    width: 100%;
}


/*** footer-wrap ***/

.footer-wrap {
    background: none repeat scroll 0 0 #111111;
    color: #fff;
    font-size: 14px;
    padding: 20px 0 0;
}
.footer-wrap a {
  color:#fff;
}
.footer-social ul {
    list-style: outside none none;
    margin: 15px 0 0;
    padding: 0;
    text-align: center;
}
.footer-social ul li {
    display: inline-block;
    margin: 0 10px;
}
.footer-social ul li a {
    background-color: #656565;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 30px;
    display: block;
    height: 45px;
    width: 45px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.footer-social ul li a:hover {
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
  box-shadow: 0 0 0 1pt #656565, 0 0 0 1pt #656565 inset;
}
li.tw-icon a {
  background-image: url(/assets/tw-icon.png);
}
li.fb-icon a {
  background-image: url(/assets/fb2-icon.png);
}
li.gg-icon a {
  background-image: url(/assets/gg-icon.png);
}
li.tw-icon a:hover {
  background-color: #33CCFF;
}
li.fb-icon a:hover {
  background-color: #3B579D;
}
li.gg-icon a:hover {
  background-color: #DF2228;
}

.footer-right p {
    margin-top: 20px;
  text-align: right;
}


.ie7-warning {
    display: none;
    z-index: 9999;
}


/*
font-family: 'Roboto', sans-serif;
*/




/*************************** MEDIA QUERIES *****************************/

@media only screen and (min-width:481px) and (max-width:768px) {

}
 @media only screen and (max-width:480px) {

}
 @media only screen and (max-width:320px) {

}

@media only screen and (max-width:767px) {
.search-btn, .search-form:before  {
  display: none;
}
.search-form {
    display: block;
  margin: 0 auto;
    max-width: 300px;
    position: static;
    width: 100%;
}
.footer-wrap, .footer-right p {
  text-align: center;
}
.testi1-photo, .testi2-photo, .testi3-photo {
  padding: 20px 0 30px;
}
.say-box:before {
    left: 49%;
    top: -21px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.circle-img {
  padding: 20px 0;
}
.logo-wrap {
  text-align: center;
}
.banner-wrap h1 {
  font-size: 48px;
}
.banner-wrap p {
  font-size: 19px;
}
.homepage-content-wrap h2 {
  font-size: 28px;
}
.bottom-banner-wrap h2 {
  font-size: 30px;
}
.banner-wrap .btn {
  margin: 0 0 20px;
}
}
/*to dispay nav on ipad below*/
.navbar-collapse.collapse.in { display: block !important; }

@media only screen and (max-width:768px) {

.navbar-header {
    float: none;
}
.navbar-brand {
    display: block !important;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
}
.navbar-collapse.collapse {
    display: none !important;
}
.navbar-nav {
    float: none !important;
    margin: 0 -15px;
}
.nav-wrap ul li {
  float: none;
}
.nav-wrap nav {
  float: none;
}
.nav-wrap ul ul {
    box-shadow: none;
    display: block;
    height: 0;
    opacity: 0;
    position: static;
    visibility: hidden;
    width: 100%;
    z-index: 2;
  -webkit-transition: all 0.3s  ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.nav-wrap ul ul li a {
  padding-left: 20px;
}
.nav-wrap ul ul li a {
  border-radius: 0;
}
.nav-wrap ul li:hover ul {
  opacity: 1;
  visibility: visible;
  height: auto;
}


}


@media only screen and (max-width:480px) {
  .banner-wrap h1 {
      font-size: 35px;
  }
}



@media only screen and (max-width:320px) {
  .banner-wrap h1 {
      font-size: 35px;
  }
}