/*for ie7 only*/

.ie7-warning {
  display: none;
  z-index:9999;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
}
.ie7-warning h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.center{
  max-width:1120px;
  width:100%;
  margin:0 auto;
}

/*----->>> global-style <<<-----*/
a:focus, input[type="text"] { outline: none; }
p { margin-bottom:20px;}
img, iframe{ max-width:100%; }
.spacer{ height:20px; }
.spacer2{ height:40px; }
.nopadding { padding: 0; }

/*select style*/
.big-custom-select {
  margin-top: 15px;
  font-family: 'Open Sans', sans-serif;
}
.big-custom-select .select2-container,
.small-custom-select .select2-container {
  width: 100%;
}
.big-custom-select .select2-container .select2-choice {
  height: 40px;
  padding: 5px 0 5px 8px;
}
.big-custom-select .select2-arrow b {
  background-position: center center;
}
.select2-results li {
  padding: 5px 0;
  font-family: 'Open Sans', sans-serif;
}
.select2-dropdown-open .select2-choice {
  background-color: #f3f3f3;
  background-image: none;
  border-bottom: 1px solid #CCC;
}
.select2-results {
  padding: 0;
  margin: 0;
}
/*small-select*/
.small-custom-select .select2-container .select2-choice {
  height: 35px;
  padding: 3px 0 3px 8px;
}
.small-custom-select .select2-container .select2-choice .select2-arrow {
  width: 32px;
}
.small-custom-select .select2-arrow b {
  padding:17px 16px;
  background-position: center center;
}
/*----->>> navigation <<<-----*/
/*for sub menu*/
.nav-wrap ul ul,
.nav-wrap ul ul ul {
  display:none;
  width: 100%;
  max-width: 200px;
}
.nav-wrap ul ul li {
  float: none;
  border-bottom: 1px solid #003728 !important;
}
.nav-wrap ul li:hover ul {
  display: block;
  position:absolute;
  background: none repeat scroll 0 0 #a07b3f;
  z-index:999;
}
.nav-wrap ul li:hover ul ul{
  display: none;
}
.nav-wrap ul ul li:hover ul{
  display: block !important;
  left:200px;
  top: 0;

}
.nav-wrap ul ul li a {
  border: 0 !important;
  display:block;

  padding: 8px 10px !important;
}
.nav-wrap ul ul li a:hover {
  border: 0 !important;
  color: #003728;
  background: none !important;
}
.has-sub {
  background: url(/assets/menu-bottom-arrow.png) right center no-repeat !important;
  padding-right: 10px;
}
.icon-bar{
  background: none repeat scroll 0 0 #FFFFFF;
    color: #FFFFFF;
    height: 2px;
}
.navbar-toggle {
    background: none repeat scroll 0 0 #6f6f6f;
}
.navbar-brand{
  color:#fff;
}
.navbar-header {
    background: none repeat scroll 0 0 #333333;
    margin-top: 20px;
}

/*----->>> topbar <<<-----*/
.topbar {
  background: #2d4154;
  padding: 8px 0 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.question {
  float: right;
  color: #fff;
  font-size:14px;
  line-height:22px;
  margin-right: 20px;
}
.hotline {
  color: #5fccff;
}
.cart-btn {
  background: url("/assets/cart-icon.png") no-repeat scroll 5px center rgba(0, 0, 0, 0);
    color: #14ddb3;
    float: right;
    padding-left: 33px;
  margin-right:25px;
}
.cart-num {
  color: #34495e;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  display: inline-block;
  height: 19px;
  margin-left: 5px;
  width: 19px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
  background: #14ddb3;
  text-align: center;
    opacity:0;
  float:left;
}
.stk {
    border-top: 0 none;
    position: fixed !important;
    top: 0;
    z-index: 9999 !important;
}
.cart-btn.stk {
  background-color: #2d4154;
  border-radius: 0 0 4px 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  margin: 0 0 0 5px;
  -webkit-animation: 0.3s ease 0s normal none 1 mini-cart-in;
  -moz-animation: 0.3s ease 0s normal none 1 mini-cart-in;
  -o-animation: 0.3s ease 0s normal none 1 mini-cart-in;
  animation: 0.3s ease 0s normal none 1 mini-cart-in;
}
.sticky {
    border-top: 0 none;
    position: fixed !important;
    top: 0;
    z-index: 9999 !important;
}
.cart-btn.sticky {
  background-color: #2d4154;
  border-radius: 0 0 4px 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  margin: 0 0 0 5px;
  -webkit-animation: 0.3s ease 0s normal none 1 mini-cart-in;
  -moz-animation: 0.3s ease 0s normal none 1 mini-cart-in;
  -o-animation: 0.3s ease 0s normal none 1 mini-cart-in;
  animation: 0.3s ease 0s normal none 1 mini-cart-in;
}
.cart-link {
  color: #1bbc9b;
  cursor: pointer;
  z-index : 21;
}
.cart-link:hover,
.cart-link:active,
.cart-link:focus {
  opacity: 1;
  color: #1bbc9b;
}
.info {
  background: #2d4154;
  padding: 8px 100px 8px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  float:right;
  position: relative !important;
}
.cart-holder {
    display: inline-block;
    float: right;
    position: absolute;
    right: 0;
  z-index: 20;
}
@-webkit-keyframes mini-cart-in{
  0%{top:-100%}
  100%{top:0}
}
@-moz-keyframes mini-cart-in{
  0%{top:-100%}
  100%{top:0}
}
@keyframes mini-cart-in{
  0%{top:-100%}
  100%{top:0}
}
.chosen-item-box {
  display: none;
  position: fixed;
  padding: 10px;
  border-radius: 5px;
  background: #f9f9f9;
  top: 50px;
  margin-left: 100px;
  box-shadow: 0 0 6px #aaa;
  z-index: 20;
  max-width: 255px;
}
.chosen-img {
  float: left;
  width: 20%;
}
.chosen-details {
  float: right;
  padding-left: 10px;
    width: 80%;
}


/*----->>> nav-wrap <<<-----*/
.nav-wrap {
  background: #2d4154;
  padding: 5px 0;
}
.nav-wrap ul {
  display: inline-block;
    float: left;
    margin: 4px 0 0;
    padding: 0;
}
.nav-wrap ul li {
  display: inline;
}
.nav-wrap ul li:first-child {
  margin-left: 0;
}
.nav-wrap ul li:last-child {
  margin-right: 0;
}
.nav-wrap ul li a {
  color: #ebedee;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin: 0 20px;
  text-decoration: none;
}
.menu-right {
    display: inline-block;
    float: right;
}
.search-here {
  display: inline-block;
    width: 260px;
  height: 40px;
}
.search-here form {
  text-indent: 25px;
  border: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 6px 3px;
  width: 100%;
  max-width: 260px;
  background: #fff;
}
.search-here input[type="text"] {
  border: 0 none;
    box-shadow: none;
    color: #000;
    float: left;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 600;
    height: 25px;
  width: 89%;
}
.search-here input[type="submit"] {
  background: url("/assets/search-icon.png") no-repeat scroll center center #fff;
    border: 0 none;
    display: block;
    float: left;
    height: 25px;
    padding: 0;
    width: 10%;
}
.search-here input[type="text"] {
  -webkit-outline: none !important;
  outline: none !important;
}
/*----->>> navigation <<<-----*/
.header-wrap {
  background: #00a5e2;
  padding-top: 40px;
}
.header-left {
  text-align: center;
}
.header-left h1,
.header-left h2 {
  color: #fff;
}
.header-left h1 {
  font-size: 55px;
}
.header-left h2 {
  font-size: 45px;
}
.header-left h2:nth-child(3) {
   font-size: 57px;
}
.header-left p {
  font-size: 18px;
  color: #2c3e50;
  font-family: 'Open Sans', sans-serif;
  margin: 30px 0;
}

/*----->>> banner-stats <<<-----*/
.banner-stats {
  background: #ededf0;
  padding: 4px 0;
}
.middle-stats {
  border-left: 1px solid #7f8c8d;
  border-right: 1px solid #7f8c8d;
  box-shadow: 1px 0 0 #fff inset, 1px 0 0 #fff;
}
.stats-content {
  vertical-align: middle;
  float:none;
}
.stats-content01 {
  padding-top: 10px;
}
.stats-content02 .stats-label {
  padding-top: 20px;
}
.stats-label {
  font-size: 16px;
  color: #2c3e50;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
}
.banner-stats  .col-md-4 {
  padding: 5px 0;
}

/*----->>> navigation <<<-----*/
.content-shirts {
  padding: 30px 0;
  background: #fff;
}
.shirt-container {
  margin-bottom: 25px;
}
.shirt-img-holder {
  border: 1px solid #95a5a6;
  text-align: center;
  position: relative;
  height: 330px;
  overflow: hidden;
  -webkit-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  display: table;
}
.shirt-img-holder .tcell {
  display: table-cell;
  max-width: 248px;
  vertical-align: middle;
}

.shirt-img-holder {
  border: 1px solid #95a5a6  ;
  display: table;
  height: 330px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: all 0.2s linear 0s;
  width: 100%;
}

.shirt-container p {
  color: #7f8c8d  ;
  display: block;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: 600;
  min-height: 40px;
  transition: all 0.2s linear 0s;
}

.fans-counter {
  background: none repeat scroll 0 0 #14ddb3  ;
  border: 1px solid #545555  ;
  border-radius: 3px;
  display: inline-block;
  margin-top: 5px;
}

.stats-label {
  color: #2c3e50  ;
  display: inline-block;
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  padding: 15px 0;
}

.stats-content02 .stats-label {
  padding-top: 25px;
}
.img-view-details {
  background-image: url('/assets/view-details-bg.png');
  background-repeat: no-repeat;
  background-position: center center;
    bottom: 0;
    color: #fff;
    display: none;
    font-size: 13px;
    font-weight: 600;
    height: 100%;
    left: 0;
    margin: auto;
    padding-top: 100px;
    position: absolute;
    right: 0;
    text-decoration: none;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 5;
}
.shirt-img-holder:hover .img-view-details{
  display: block;
  text-decoration: none;
  color: #fff;
}
.shirt-container:hover .shirt-img-holder {
  border-color: #2c3e50;
}
.shirt-img-holder img {
  margin: 0 auto;
}
.shirt-container .progress {
    margin: 7px 0 0;
}
.ship-btn-icon {
  background-image: url("/assets/ships-icon.png");
  background-repeat: no-repeat;
    display: block;
    float: left;
    height: 17px;
    width: 31px;
  position: relative;
  margin: 5px 0 0 10px;
}
.shirt-sold {
  position: relative;
}
.order-btn-icon {
  background-image: url("/assets/bag-icon.png");
  background-repeat: no-repeat;
    display: block;
    float: left;
    height: 21px;
    width: 17px;
  position: relative;
}
.shirt-container .progress {
    background-color: #bdc3c7;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    height: 6px;
    margin-bottom: 5px;
}
.shirt-container .progress-bar {
    background-color: #14ddb3;
    box-shadow: none;
}
.shirt-container p {
  color: #7f8c8d;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  -webkit-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.shirt-container:hover p {
  color: #2c3e50;
}
.shirt-label {
  margin: 20px 0;
}
.shirt-label > a {
    color: inherit;
    text-decoration: none;
}
.social-links-banner {
  background-image: url(/assets/social-links-banner-bg.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #000;
  padding: 8px 0;
  text-align: center;
  margin-bottom: 30px;
  overflow: hidden;
  min-height: 100px;

}
.social-links-banner h2 {
  font-size: 45px;
  color: #fff;
  font-family: 'Pacifico', cursive;
  margin: 10px 30px;
}
/*----->>> pagination-homepage <<<-----*/
.pagination-homepage {
  text-align: center;
}
.pagination-homepage .pagination {
  max-width: 410px;
  margin: 20px auto;
}
.pagination-homepage ul li.active:first-child a {
  border-color: #fff;
}
.pagination-homepage ul li.active a {
  background: #00bc9d;
  font-size: 14px !important;
  padding-top: 8px;
}
.pagination-homepage ul li.active a:hover {
  background: #00bc9d;
}
.pagination-homepage ul li a {
  font-family: "Open Sans",sans-serif;
  font-weight: 900;
  color: #fff;
  background: #d6dcde;
  font-size: 14px;
  border: 0;
  border-right: 3px solid #ebeeef;
  width: 35px;
  height: 33px;
}
.pagination-homepage ul li:first-child a,
.pagination-homepage ul li:last-child a {
  font-size: 35px;
    line-height: 16px;
}
.pagination-homepage ul li:last-child a {
  border-right: 0;
}
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > a:active {
  background: #00bc9d;
}
/*----->>> ourfans-banner <<<-----*/
.ourfans-banner {
  border-top: 1px solid #d6dcde;
}
.ourfans-banner h2 {
  color: #304055;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 40px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.fan-message {
  background: none repeat scroll 0 0 rgba(0, 165, 226, 0.85);
  color: #fff;
  padding: 70px 40px;
  visibility: hidden;
  position: relative;
  opacity: 0;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.fan-message:before,
.fan-message:after {
  position: absolute;
  width: 52px;
  height: 50px;
  content:"";
  display: block;
  background-size: 100%;
}
.fan-message:before {
  background: url(/assets/big-left-quote.png) center top no-repeat;
  left: 10px;
  top: 10px;
}
.fan-message:after {
  background: url(/assets/big-right-quote.png) center top no-repeat;
  bottom: 10px;
  right: 10px;
}
.fan01-photo {
  background: url(/assets/fan01-photo.jpg) center top no-repeat;
  background-size: cover;
}

.fan02-photo {
  background: url(/assets/fan02-photo.jpg) center top no-repeat;
  background-size: cover;
}
.fan03-photo {
  background: url(/assets/fan03-photo.jpg) center top no-repeat;
  background-size: cover;
}
.fan04-photo {
  background: url(/assets/fan04-photo.jpg) center top no-repeat;
  background-size: cover;
}

.fan01-photo:hover {
  background: url(/assets/fan01-photo-hover.jpg) center top no-repeat;
  background-size: cover;
}
.fan02-photo:hover {
  background: url(/assets/fan02-photo-hover.jpg) center top no-repeat;
  background-size: cover;
}
.fan03-photo:hover {
  background: url(/assets/fan03-photo-hover.jpg) center top no-repeat;
  background-size: cover;
}
.fan04-photo:hover {
  background: url(/assets/fan04-photo-hover.jpg) center top no-repeat;
  background-size: cover;
}
.fan01-photo:hover .fan-message {
  visibility: visible !important;
  opacity: 1 !important;
  z-index: 2 !important;
}
.fan02-photo:hover .fan-message {
  visibility: visible !important;
  opacity: 1 !important;
  z-index: 2 !important;
}
.fan03-photo:hover .fan-message {
  visibility: visible !important;
  opacity: 1 !important;
  z-index: 2 !important;
}
.fan04-photo:hover .fan-message {
  visibility: visible !important;
  opacity: 1 !important;
  z-index: 2 !important;
}
.fan-message .fan-say {
  font-size: 30px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}
.fan-message .fan-name  {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
.previous-fans {
  position: absolute;
  right: 0;
  z-index: 3;
  top: 20%;
}
.next-fans {
  position: absolute;
  left: 0;
  top: 20%;
  z-index: 3;
}
.ourfans-banner .center {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 40%;
}
.ourfans-banner .carousel02,
.ourfans-banner .slide {
  position: relative;
}

/*----->>> pre-footer-wrap <<<-----*/
.prefooter-wrap {
  background: #304055;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  padding: 30px 0;
}
.prefooter-wrap h3 {
  font-weight: bold;
  font-size: 18px;
  margin: 0 0 15px 0;
}
.people-wearing {
  color: #b8b8b8;
  font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0 0 0;
    text-transform: uppercase;
}
.product-deliver-count {
    color: #57f2d2;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 15px;
}
.prefooter-social-links ul,
.footer2-social-icons ul li {
  padding: 0;
  margin: 0;
}
.prefooter-social-links ul li,
.footer2-social-icons ul li {
  float: left;
  list-style: none;
  margin-right: 6px;
}
.prefooter-social-links ul li a,
.footer2-social-icons ul li a {
  display: block;
  height: 41px;
  width: 44px;
}
.small-fb-icon {
  background: url(/assets/small-fb-icon.png) center top no-repeat;
}
.small-tw-icon {
  background: url(/assets/small-tw-icon.png) center top no-repeat;
}
.small-ins-icon {
  background: url(/assets/small-ins-icon.png) center top no-repeat;
}
.small-pin-icon {
  background: url(/assets/small-pin-icon.png) center top no-repeat;
}
.search-bottom {
  background: none repeat scroll 0 0 #1bbc9b;
  max-width: 330px;
  width: 100%;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
    border-radius: 3px;
  border: 2px solid #1abc9c;
}
.search-bottom label span{
  display:none !important;
}
.search-bottom .response,
.search-bottom label {
  margin: 0 !important;
}
.search-bottom input[type="email"] {
  border: 0;
    float: left;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    height: 43px;
    padding-left: 5px;
  width: 80%;
  margin: 0;
}
.search-bottom input[type="submit"] {
  background: url("/assets/gobg.png") no-repeat scroll center center #1bbc9b;
    border: 0 none;
    color: #fff;
    float: left;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 43px;
    margin: 0;
    text-indent: -9999px;
    text-transform: uppercase;
    width: 18%;

}

/*----->>> footer-wrap <<<-----*/
.footer-wrap {
  background: #f7f7f7;
  padding-top: 45px;
  font-family: "Open Sans",sans-serif;
}
.footer-wrap h4 {
  font-family: "Open Sans",sans-serif;
  text-transform: uppercase;
  color: #304055;
  margin-top: 0;
  font-size: 14px;
  font-weight: bold;
}
.footer-wrap a {
  color: #2ba3e6;
  text-decoration: none;
}
.footer-wrap ul {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}
.footer-wrap ul li {
  font-size: 13px;
  margin-bottom: 5px;
}
.hotline-icon-bg {
  background: url(/assets/hotline-icon.jpg) left center no-repeat;
  padding-left: 20px;
}
.chat-icon-bg {
  background: url(/assets/chat-icon.jpg) left center no-repeat;
  padding-left: 20px;
}
.email-icon-bg {
  background: url(/assets/email-icon.jpg) left center no-repeat;
  padding-left: 20px;
  display: inline-block;
}
.footer-wrap .footer-bottom ul {
  margin: 0;
}
.footer-wrap .footer-bottom ul li {
  float: left;
  margin-right: 10px;
}
.credit-card {
  float: right;
  display: inline-block;
}


/*****************************************LANDING PAGE STYLE**********************************************************************/

.landing-page-content {
  padding-top: 20px;
  font-family: 'Open Sans', sans-serif;
}

.big-img {
    /*border: 1px solid #afafaf;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 0 0 1px #f6f6f6;*/
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 0 40px;

}
.product-price {
  display: none;
    background: none repeat scroll 0 0 #2ecc71;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 7px;
    position: absolute;
    right: 12px;
    top: 30px;
}
.big-img img{
  max-width:407px;
  max-height:434px;
  width: 100%;
  height: 100%;
}
.thumbnail-images {
  border-bottom: 1px solid #bcbcbc;
  padding-bottom: 20px;
  margin-bottom: 25px;
  box-shadow: 0 -1px 0 #e4e4e4 inset;
  width: 100%;
}
.thumbnail-holder > img {
    height: 60px;
    width: 46px;
}
.thumbnail-images .thumbnail-holder {
  background: none repeat scroll 0 0 #edeef0;
    cursor: pointer;
    padding: 10px;
  float: left;
  width: 68px;
  height:83px;
  margin: 0 20px 10px 0;
  border: 1px solid transparent;
  text-align: center;
}
.thumbnail-images .thumbnail-holder:hover,
.thumbnail-images .thumbnail-holder:active,
.thumbnail-images .thumbnail-holder:focus {
  border:1px solid #4e6dba !important;
  box-shadow: 0 0 1px #d8dde8;
}
.landing-page-content p {
  font-family: 'Open Sans', sans-serif;
  line-height: 22px;
}
.landing-right h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin: 0 0 30px 0;
}
.size-chart-btn {
  float: left;
  margin-bottom: 10px;
  padding:7px 10px;
}
.size-chart-btnv2 {
  float: right;
  margin-bottom: 10px;
  padding:5px 10px;
}
.btn-group, .btn-group-vertical {
  float: left;
}
.qty-size .qty-holder {
  float: left;
  display: block;
  width: 77px;
  margin-right: 15px;
}
.qty-size .size-holder {
  float: left;
}
.qty-size h5 {
  margin: 15px 0;
}
.choose-style {
  float: left;
}
.qty-size .btn-group > .btn, .btn-group-vertical > .btn {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px !important;
  border: 1px solid #cacfd2 !important;
  margin-right: 8px;
  text-align: center;
  width: 35px !important;
  height: 35px;
  color: #5d6874 !important;
  font-family: 'Open Sans', sans-serif;
  padding: 6px;
  font-weight: 600 !important;
  float: none !important;
}
.qty-size .btn-group > .btn:hover,
.qty-size .btn-group > .btn:active,
.qty-size .btn-group > .btn:focus {
  background: #29bb9c !important;
  color: #fff !important;
  z-index: 1;
  opacity: 1 !important;;
}
.buy-it-now-btn {
  background: none repeat scroll 0 0 #2ecc71;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 -2px 0 #27ae60 inset;
    color: #fff;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    padding: 20px 0;
    text-align: center;
    text-decoration: none !important;
    width: 100%;
}
.buy-it-now-btn:hover,
.buy-it-now-btn:active,
.buy-it-now-btn:focus {
  text-decoration: none !important;
  box-shadow: 0 -5px 0 #27ae60 inset;
  color: #fff !important;
}
.sold-big {
  font-weight: bold;
  font-family: "Open Sans",sans-serif;
  color: #06263c;
  margin: 20px 0;
}
.progress-big {
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1) inset !important;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
.progress-big .progress-bar {
  background: #1abc9c;
}
.left-to-buy-timer {
  padding: 15px 0;
  border-top: 1px solid #bcbcbc;
    box-shadow: 0 1px 0 #e4e4e4 inset;
}

.thumbnail-holder:hover, .current {
    background: none repeat scroll 0 0 #e4ebf8 !important;
    border: 1px solid #3c5eb3 !important;
    display: inline-block;
    padding: 10px;
}

/******TOOLTIP STYLE******/
.tooltip-holder {
  background: none repeat scroll 0 0 #2c3e50;
    bottom: -30px;
    color: #fff;
    font-size: 11px;
    font-weight: normal;
    padding: 2px 0;
    position: absolute;
    text-align: center;
    z-index: 10;
  display: none;
  opacity: 0;
}
.tooltip-holder:before {
    border-bottom: 6px solid #2c3e50;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: "";
    display: block;
    left: 44%;
    position: absolute;
    top: -5px;
    z-index: 20;
}
.order-btn-icon .tooltip-holder {
    left: -36px;
    width: 84px;
}
.shirt-sold .tooltip-holder {
  width: 150px;
  left: -30px;
}
.ship-btn-icon .tooltip-holder {
  left: -20px;
    width: 72px;
}


.ship-btn-icon:hover .tooltip-holder {
  display: block;
  opacity:1;
}
.order-btn-icon:hover .tooltip-holder {
  display: block;
  opacity: 1;
}
.shirt-sold:hover .tooltip-holder {
  display: block;
  opacity: 1;
}


/*fans-counter*/
.fans-counter {
  background: #14ddb3;
  display: inline-block;
  border: 1px solid #545555;
  border-radius: 3px;
}
.fans-counter ul {
  margin: 0;
  padding: 0;
  background-image: url("/assets/counter-strike-bg.png");
  background-repeat: no-repeat;
  background-position: 7px center;
}
.fans-counter li {
  border-right: 3px solid #2c3e50;
    color: #4d4c4c;
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    padding: 7px;
  position: relative;
  text-shadow: 1px 1px 0 #c8ede6;
}
.fans-counter li:first-child:before {
  background: url("/assets/counter-arrow.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 12px;
    left: -1px;
    position: absolute;
    top: 14px;
    width: 7px;
    z-index: 2;
}
.fans-counter ul li:last-child {
  border-right: 0;
}


/******MODAL STYLE********/

.pop-up-chart {
  width: 100% !important;
  max-width: 1000px;
}
.modal-content {
  font-family: "Open Sans",sans-serif;
}
.modal-content h2,
.modal-content h3 {
  font-family: "Open Sans",sans-serif;
  margin-top: 0;
  font-weight: 600;
}
.modal-header {
    background: none repeat scroll 0 0 #2e4054;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    font-size: 24px;
    padding: 20px 15px;
}
button.close {
  color: #fff;
}
#size-style-modal {
  font-family: "Open Sans",sans-serif;
}
#size-style-modal .modal-title {
    font-size: 24px;
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  font-style: italic;
}
#size-style-modal .modal-body {
  padding-top: 0;
  padding-bottom: 0;
}
.detail-title {
    border-bottom: 1px solid #dfdfdf;
    color: #2d4154;
    font-weight: bold;
    margin: 0 !important;
    padding: 10px 5px;
}
.detail-title span {
    margin-right: 42px;
}
.size-title {
    margin-right: 86px !important;
}
.price-title {
    margin-left: 130px;
}
.shirt-size-container {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 20px;
    position: relative;
}
.popup-size h4 {
    color: #2d4154;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
}

.up-sell {
    padding: 10px 0 30px;
}
.up-sell h3 {
    color: #2d4154;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 0;
    text-align: center;
}
.lightbox-img-container {
    display: inline-block;
    position: relative;
}
.lightbox-img-container .lightbox-price {
    background: none repeat scroll 0 0 #3498db;
    color: #fff;
    font-family: "Open Sans",sans-serif !important;
    font-size: 16px;
    font-weight: bold;
    padding: 4px;
    position: absolute;
    right: 1px;
    top: 17px;
}
.zoom-lightbox {
    background: url("/assets/add-btn.png") no-repeat scroll center center rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.zoom-lightbox {
    display: none !important;
}
.lightbox-img-container:hover .zoom-lightbox {
    display: block !important;
}
.checkout-buttons {
    margin-top: 15px;
}
.btn-sm-custom-pop {
    background: none repeat scroll 0 0 #2ecc71;
    border-radius: 5px;
    box-shadow: 0 -2px 0 #27ae60 inset;
    color: #fff;
    display: inline-block;
    font-family: "Open Sans",sans-serif !important;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 12px 0;
    text-align: center;
    width: 80%;
}
.btn-sm-custom-pop02 {
    background: none repeat scroll 0 0 #296192;
    border-radius: 5px;
    box-shadow: 0 -2px 0 #1d4868 inset;
    color: #fff;
    display: inline-block;
    font-family: "Open Sans",sans-serif !important;
    font-size: 17px;
    margin-bottom: 20px;
    padding: 12px 0;
    text-align: center;
    width: 80%;
  font-weight: bold;
}
.btn-sm-custom-pop03 {
    background: none repeat scroll 0 0 #8e929b;
    border-radius: 5px;
    box-shadow: 0 -2px 0 #74797f inset;
    color: #fff;
    display: inline-block;
    font-family: "Open Sans",sans-serif !important;
    font-size: 15px;
    margin: 15px 0 5px;
    padding: 6px 0;
    text-align: center;
    width: 27%;
}
.btn-sm-custom-pop03:hover,
.btn-sm-custom-pop03:active,
.btn-sm-custom-pop03:focus {
  color: #fff;
  text-decoration:none;
  box-shadow: 0 -4px 0 #74797f inset;
}
.btn-sm-custom-pop:hover,
.btn-sm-custom-pop:active,
.btn-sm-custom-pop:focus {
  color: #fff !important;
  box-shadow: 0 -4px 0 #27ae60 inset;
  text-decoration: none;
}
.btn-sm-custom-pop02:hover,
.btn-sm-custom-pop02:active,
.btn-sm-custom-pop02:focus {
  color: #fff !important;
  text-decoration: none;
  box-shadow: 0 -4px 0 #1d4868 inset;
}
.btn-sm-custom-pop04 {
    background: none repeat scroll 0 0 #2ecc71;
    border-radius: 5px;
    box-shadow: 0 -2px 0 #27ae60 inset;
    color: #fff;
    display: inline-block;
    font-family: "Open Sans",sans-serif !important;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 12px 0;
    text-align: center;
    width: 80%;
}
.btn-sm-custom-pop04:hover,
.btn-sm-custom-pop04:active,
.btn-sm-custom-pop04:focus {
  color: #fff !important;
  box-shadow: 0 -4px 0 #27ae60 inset;
  text-decoration: none;
}
.checkout-cards {
    display: none;
}
.style-input, .size-input, .qty-input, .size-price, .add-minus-btn {
    display: inline-block;
    float: left;
    margin-right: 8px;
}
.qty-input {
    width: 12%;
}
.size-input .select2-container .select2-choice {
  border-left: 0 !important;
}
.size-input {
    width: 20%;
  border-left: 1px solid #aaa;
  border-radius: 5px;
}
.style-input {
    width: 33%;
}
.visible-mobile {
    display: none;
}
.size-price .dollar {
    color: #2d4154;
    font-size: 18px;
    font-weight: bold;
    margin: 0 20px;
}
.less-btn {
    background: url("/assets/less-btn.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 28px;
    text-indent: -9999px !important;
    width: 33px;
}
#size-style-modal .select2-container .select2-choice .select2-arrow {
  width: 25px;
}
#size-style-modal .select2-arrow b {
    background-image: url("/assets/select-bg.png") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-color: #1abc9c !important;
    display: block;
    height: 25px;
    padding: 0;
    width: 25px;
}
#size-style-modal .select2-container {
  width: 100%;
}
.landing-page-content h2.visible-mobile {
    float: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  font-family: "Open Sans",sans-serif;
  margin-top: 0;
}


/*diagram*/
#diagram-id-1 {
  background: url(/assets/smiley.png) center center no-repeat;
  border: 6px solid rgba(0, 0, 0, 0.15) !important;
}
#diagram-id-1 span {
  color: #2f3d51;
    font-weight: bold;
    line-height: 68px;
    margin-left: 75px;
}


/*counter*/

.addUpsell {
  display:block !important;
}
.checkout-cards-open {
    display: block !important;
    margin-top: 15px;
}
.circle-cart {
  display:inline-block;
  float:left;
}
.chosen-item-box:hover,
.chosen-item-box:focus,
.chosen-item-box:active {
  display:block !important;
  opacity:1 !important;
}

.logo {
  margin-top:3px;
}
.home-logo {
  margin-top:-25px;
}




/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Pacifico', cursive;*/


/*main-content*/
.main-content {
  padding: 40px 15px;
  font-family: "Open Sans",sans-serif;
}
.main-content h2 {
  font-weight: bold;
  font-family: "Open Sans",sans-serif;
  margin: 0 0 20px;
}
/************************************************ SUCCESS PAGE STYLE ***********************************************************************************/

.success-big-img {
  border: 1px solid #afafaf;
    border-radius: 3px;
    margin-bottom: 20px;
    min-height: 585px;
    padding: 40px 0;
  text-align: center;
}


/************************************************ PROCESS STYLE ***********************************************************************************/

.header-infographics {
    background: url("/assets/infographics-logo.jpg") no-repeat scroll center top rgba(0, 0, 0, 0);
    min-height: 438px;
}
.separator {
    background: url("/assets/separator.png") no-repeat scroll center top rgba(0, 0, 0, 0);
}
.process-content {
  font-family: "Open Sans",sans-serif;
}
.process-content h1 {
  color: #333333;
    font-size: 75px;
    text-align: center;
    text-transform: uppercase;
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
}
.process-content h1 span {
  color: #3399ff;
}
.process-content h2 {
  color: #3399ff;
  font-size: 60px;
}
.process-content p {
  color: #333333;
  font-style: italic;
    font-size: 22px;
    font-weight: normal;
}

/************************************************ FANTEES CHECKOUT STYLE ***********************************************************************************/
.fanteescheckout-content .center {
    background: none repeat scroll 0 0 #f3f3f3;
}
.fanteescheckout-left-content {
  background: #fff;
}
.fanteescheckout-content {
  font-family: "Open Sans",sans-serif;
  padding: 0;
}
.fanteescheckout-content h2 {
  text-transform: uppercase;
  margin-bottom: 0;
}
.order-sample-container {
    background: none repeat scroll 0 0 #f6f6f6;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    box-shadow: 0 -1px 0 #e4e4e4 inset;
    margin-bottom: 25px;
    padding: 15px;
    position: relative;
}
.checkout-payment-option {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #f3f3f3;
    padding: 0 0 30px;
}
.order-sample-container h3 {
    color: #2e4056;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px;
    text-transform: uppercase;
  font-family: "Open Sans",sans-serif;
}
.order-sample-container p {
    color: #2e4056;
    font-size: 16px;
    margin: 0 0 7px;
}
.close-black {
    position: absolute;
    right: 7px;
    top: 7px;
    z-index: 2;
}
.order-sample-container .shirt-price {
    color: #2ca5e8;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    text-align: right;
}
.order-sample-container .save {
    color: #9b9b9b;
    font-weight: bold;
}
.shipping-fee {
    background: none repeat scroll 0 0 #f6f6f6;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    box-shadow: 0 -1px 0 #e4e4e4 inset;
    font-size: 16px;
    margin-bottom: 20px !important;
    padding: 15px 27px 15px 10px;
    text-transform: uppercase;
}
.shipping-fee span {
    color: #2ca5e8;
    float: right;
    font-size: 22px;
    font-weight: bold;
    margin-top: -6px;
}
.details-total {
    border-top: 2px solid #b0b0b0;
    padding: 21px 120px;
    position: relative;
    text-align: right;
}
.details-total span {
    background: none repeat scroll 0 0 #f6f6f6;
    border: 1px solid #ececec;
    border-radius: 10px;
    box-shadow: 0 -2px 0 #cccccc;
    color: #3da1e8;
    font-size: 28px;
    font-weight: bold;
    padding: 2px 30px;
    position: absolute;
    right: 0;
    top: 10px;
}
.checkout-payment-option {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #f3f3f3;
    padding: 0 0 30px;
}
.checkout-credit-card-paypal {
  padding: 30px 0;
}
.fanteescheckout-content h2 {
  font-size: 25px;
}
.field-note {
    color: #9c9c9c !important;
    font-size: 15px !important;
    font-style: italic !important;
    margin: 0 !important;
    text-transform: capitalize !important;
}
.checkout-shipping-information:before {
    background: none repeat scroll 0 0 #f3f3f3;
    color: #f3f3f3;
    content: "\'";
    display: block;
    height: 418px;
    left: -400px;
    margin-top: -20px;
    max-width: 420px;
    position: absolute;
    text-indent: -9999px;
    width: 100%;
}
.checkout-shipping-information {
    background: none repeat scroll 0 0 #f3f3f3;
    margin: 40px -15px 0 0;
    padding: 20px;
}
.checkout-shipping-form-container p, .checkout-credit-card p {
    color: #2e4156;
    font-size: 14px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.fanteescheckout-content input[type="text"], .fanteescheckout-content input[type="email"], .fanteescheckout-content select {
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    box-shadow: 0 0 1px #e4e4e4 inset;
    color: #111111;
    padding: 7px;
    width: 100%;
  margin-bottom: 15px;
}
.no-padding-left {
    padding-left: 0;
}
.no-padding-right {
    padding-right: 0;
}
.checkout-payment-option .radio01, .checkout-payment-option .radio02 {
    background: none repeat scroll 0 0 #f7f7f7;
    border-radius: 2px;
    display: inline-block;
    margin-top: 10px;
    padding: 15px 20px;
}
.radioSelected, .radioCurrent {
    background: none repeat scroll 0 0 #f3f3f3 !important;
}
.checkout-credit-card {
    padding: 30px 0;
}
.exp-date {
    float: left;
    width: 45% !important;
}
.date-dash {
    display: inline-block;
    float: left;
  margin-top: 5px;
    padding: 0 5px;
}
.checkout-total {
    background: none repeat scroll 0 0 #f3f3f3;
    margin: 20px 0 15px;
    padding: 15px;
}
.checkout-total .total-price {
    float: left;
}
.checkout-total p {
    color: #2e4156;
    font-size: 15px;
    margin: 0;
}
.checkout-total .total-price span {
    color: #3da1e8;
    font-size: 28px;
    font-weight: bold;
    padding: 0 10px;
}
.checkout-total .arrive-date {
    float: right;
    padding-top: 12px;
}
.checkout-total p span {
    color: #29a1e3;
}
.checkout-credit-card input[type="submit"] {
    background: none repeat scroll 0 0 #3bd75b;
  box-shadow: 0 -3px 0 #0fa82e inset;
    color: #fff;
    font-size: 25px;
    padding: 10px;
    text-shadow: 1px 1px 1px #078f15;
    text-transform: uppercase;
    width: 100%;
  border-bottom: 0;
  border: 0;
}
.link-to-paypal:hover,
.link-to-paypal:focus,
.link-to-paypal:active,
.checkout-credit-card input[type="submit"]:hover,
.checkout-credit-card input[type="submit"]:focus,
.checkout-credit-card input[type="submit"]:active {
  color: #fff !important;
  box-shadow: 0 -4px 0 #0fa82e inset;
  opacity: 0.9;

}
.link-to-paypal {
    background: none repeat scroll 0 0 #3bd75b;
    border-radius: 6px;
    border-style: solid none;
    box-shadow: 0 -3px 0 #0fa82e inset;
    color: #fff;
    display: block;
    font-size: 25px;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #078f15;
    text-transform: uppercase;
    width: 100%;
  text-decoration: none !important;
  margin-bottom: 15px;
  border: 0;
}
.fanteescheckout-sidebar {
    background: none repeat scroll 0 0 #f3f3f3;
    padding: 30px;
  font-family: "Open Sans",sans-serif;
}
.fanteescheckout-sidebar h3 {
    background: none repeat scroll 0 0 #fff;
    color: #5d5d5d;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 20px;
    padding: 20px 0;
  font-family: "Open Sans",sans-serif;
    text-align: center;
    text-transform: uppercase;
}
.small-select {
    color: #848484;
    font-family: "Lato";
    max-width: 150px;
    padding: 4px !important;
    width: 100%;
}
.fanteescheckout-sidebar h3 span {
    color: #12599d;
    font-weight: bold;
}
.checkout-orange-sticker {
    background: none repeat scroll 0 0 #faffe0;
    margin-bottom: 20px;
    padding: 1px 20px;
}
.fanteescheckout-sidebar h4 {
    color: #2e4156;
    font-size: 16px;
    font-weight: bold;
  font-family: "Open Sans",sans-serif;
}
.checkout-orange-sticker ul {
    padding: 0;
}
.checkout-orange-sticker ul li {
    background: url("/assets/checkout-green-check.png") no-repeat scroll left 5px rgba(0, 0, 0, 0);
    color: #2e4156;
    font-size: 14px;
    font-weight: 700;
    list-style: none outside none;
    margin-bottom: 12px;
    padding-left: 20px;
}
.comment-name-green-bg {
    background: url("/assets/comment-name-green-bg.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}
.comment-name-blue-bg {
    background: url("/assets/comment-name-blue-bg.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}
.comment-name-fb-bg {
    background: url("/assets/comment-name-fb-bg.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}
.comment-name-orange-bg {
    background: url("/assets/comment-name-orange-bg.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}
.checkout-comment-name span {
    color: #848484;
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
}
.checkout-comment-content {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 0 1px #e9e9e9;
    padding: 15px;
  position: relative;
}
.checkout-comment-content:before {
    background: url("/assets/checkout-comment-arrow-down.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: -14px;
    content: "";
    display: block;
    height: 15px;
    left: 28px;
    position: absolute;
    width: 30px;
}
.checkout-comment-content p {
    color: #616161;
    font-size: 15px;
    font-style: italic;
    margin: 0;
  font-family: "Open Sans",sans-serif;
}
.checkout-comment-name {
    color: #4e6e85;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
  margin: 25px 0 45px 17px;
  position: relative;
    padding-left: 55px;
}
/************************************************ CUSTOMER INFORMATION STYLE ***********************************************************************************/
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ccc;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ccc;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #ccc;
}
.customer-info-page h3 {
  font-family: "Open Sans",sans-serif;
  font-size: 20px;
}
.customer-info-page .radio {
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0;
}
.customer-info-page select {
  border: 0 none;
    color: #888;
    font-style: italic;
    height: 45px;
    padding-left: 5px;
    width: 70%;
  line-height: 40px;
}
.customer-info-page select:active, .customer-info-page select:focus {
    color: #000 !important;
}
.customer-info-page .radio label,
.customer-info-page .radio input {
  padding: 13px 10px;
  float: left;
}
.customer-info-page .radio label {
  width: 30%;
  height: 45px;
}
.fname-border {
  border-radius: 5px 5px 0 0 !important;
}
.customer-info-page .radio input[type="text"] {
  border: 0;
  width: 62%;
  height: 45px;
  font-style: italic;
}
.border-rad0 {
  border-radius: 0 !important;
}
.margtop-1{
  margin-top: -1px !important;
}
.place-order-now {
  background: none repeat scroll 0 0 #3bd75b;
    border-radius: 6px;
    border-style: none;
    box-shadow: 0 -2px 0 #0fa82e inset;
    color: #fff;
    float: right;
    font-size: 25px;
    margin: 10px 0;
    padding: 10px 15px;
    text-align: center;
    text-shadow: 1px 1px 1px #078f15;
    width: 100%;
}
.phone-border {
  border-radius: 0 0 5px 5px !important;
}
.order-summary {
  background: #fafafa;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  margin-top: 52px;
  width: 100%;
  max-width: 530px;
}
.order-summary-header {
    padding: 20px 15px;
  border-bottom: 1px solid #e1e1e1;
}
.order-summary-header h3 {
  margin: 0;
}
.item-summary ul {
  padding: 0;
}
.item-summary ul li {
  list-style:none;
}
.item-summary ul li img {
  border-radius: 10px;
    float: left;
    margin-right: 20px;
    width: 60px;
}
.product-info {
    float: left;
  margin-top: 35px;
}
.product-info-name,
.product-info-description  {
    display: block;
}
.shirt-value {
    float: right;
    font-size: 18px;
    margin-top: 35px;
}
.arrive-due-date {
  width: 100%;
  padding-left:82px;
}
.item-summary {
  border-bottom: 1px solid #e1e1e1;
  padding: 20px 15px;
}
.item-summary ul {
  margin: 0;
}
.discount {
  padding: 20px 15px;
  border-bottom: 1px solid #e1e1e1;
}
.discount-link {
  color:  #5fccff;
  position: relative;
  transition: all 0.2s linear 0s;
  text-decoration: none;
}
.discount-link:after {
  position: absolute;
  content:">";
  display: inline-block;
  right: -10px;
  height: 10px;
  width: 10px;
  padding-left: 5px;
  transition: all 0.2s linear 0s;
  font-family: Comic Sans MS;
}
.discount-link:hover {
  text-decoration: none;
}
.discount-link:hover:after {
  padding-left: 10px;
}
.order-summary-section {
  padding: 20px 15px;
  border-bottom: 1px solid #e1e1e1;
}
.order-summary-section ul {
  padding: 0;
  margin: 0;
}
.order-summary-section ul li {
  list-style:none;
  margin-bottom: 5px;
}
.order-summary-section ul li span {
  float: right;
}
.order-summary-section ul li:last-child {
  border-top: 1px solid #e1e1e1;
  padding-top: 10px;
}
.payment-due {
  padding: 20px 15px;
}
.payment-due .due-value {
  color:  #5fccff;
    float: right;
    font-size: 25px;
    font-weight: bold;
}
.currency {
  background: none repeat scroll 0 0 #bbb;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: normal;
    margin-right: 7px;
    padding: 1px 3px;
    text-transform: uppercase;
    vertical-align: middle;
}

.discount-form {
  display:block;
  border: 1px solid #ccc;
  border-radius:4px;
  -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
  padding:10px 5px;
  background:#fff;
}

.discount-form label {
    width: 30%;
  font-weight:normal;
  text-align:center;
}

.discount-form input[type="text"] {
    width: 45%;
  border:none;
  padding:6px;
  background:none;
}

.discount-form .discount-btn {
    color:#ccc;
  border:1px solid #ccc;
  background:none;
  padding:6px 12px;
  border-radius:4px;
  -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    text-transform:uppercase;
}
.select2 {
  width: 69%;
  float: left;
}
.select2 select {
  width: 100%;
}
.cards-holder {
    height: 50px;
    margin: 0;
    padding-right: 10px;
    padding-top: 10px;
  text-align: right;
}
.sidebar-scroll {
  position: fixed;
}
/************************************************ LOGIN PAGE STYLE ***********************************************************************************/
.login-page h2 {
  text-align: center;
}
.login-page .form-horizontal,
.forgot-password-page .form-horizontal,
.reset-password-page .form-horizontal {
  display: block;
    margin: 65px auto 0;
    max-width: 500px;
    width: 100%;
}

.form-blue-btn {
   background: none repeat scroll 0 0 #3498db;
    border: medium none;
    border-radius: 5px;
    box-shadow: 0 -2px 0 #2c81ba inset;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    width: 60%;
  font-weight: bold;
}
.login-page .alert {
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
    background-repeat: repeat-x;
    border-color: #f5e79e;
  color: #c09853;
  border-radius: 4px;
}

.forgot-password-page .form-horizontal {
  text-align: center;
}
.forgot-password-page .form-horizontal .form-blue-btn {
  margin-top: 30px;
}


/************************************************ CONTACT US STYLE ***********************************************************************************/
.contactus-page {
  font-family: "Open Sans",sans-serif;
}
.contactus-page h3 {
  text-align: center;
  font-family: "Open Sans",sans-serif;
  margin-bottom: 30px;
}
.contactus-page h4 {
  font-family: "Open Sans",sans-serif;
  margin: 25px 0;
}
.contactus-form input[type="text"],
.contactus-form textarea {
  border: 1px solid #dadada;
    border-radius: 3px;
    box-shadow: 0 -1px 0 #f0f0f0;
    color: #444;
    display: block;
    margin-bottom: 20px;
    padding: 11px 7px;
    width: 95%;
}
.contactus-form textarea {
  min-height: 180px;
}
.contactus-form input[type="submit"] {
  background: none repeat scroll 0 0 #2ba3e6;
    border: medium none;
    border-radius: 3px;
    color: #ffffff;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 10px 0;
    text-align: center;
    width: 155px;
}
.blue-box {
  background: none repeat scroll 0 0 #2d4154;
    border: 1px solid #576776;
    padding: 15px;
}
.blue-box p {
  color: #fff;
}
.box-btn {
    border-radius: 3px;
    color: #fff;
    display: block;
  line-height: 22px;
    margin-bottom: 10px;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none !important;
    width: 90%;
}
.box-btn.blue-btn {
  background: none repeat scroll 0 0 #2ba3e6;
}
.box-btn.green-btn {
  background: none repeat scroll 0 0 #1abc9c;
}
.contactus-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contactus-right li {
    color: #2ba3e6;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 10px !important;
}
/************************************************ FANTEES DASH STYLE ***********************************************************************************/
.fanteesdash-content {
  font-family: "Open Sans",sans-serif;
}
.fanteesdash-content h2 {
  display: inline-block;
  margin-bottom: 45px;
  font-family: "Open Sans",sans-serif;
}
.h2-right-link {
  display: inline-block;
  margin-left: 20px;
  color: #03a9f4;
    font-size: 14px;
  text-decoration: none !important;
  margin-bottom: 40px;
}
.recent-order-box {
    border: 3px solid #e0e3e5;
    border-radius: 5px;
    margin: 0 auto 35px;
    max-width: 260px;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 100%;
}
.recent-order-circle {
    border: 3px solid #e0e3e5;
    border-radius: 50px;
    height: 80px;
    overflow: hidden;
    position: absolute;
    right: -30px;
    top: -27px;
    width: 80px;
}
.recent-order-circle-green {
  border-color: #4caf50;
}
.recent-order-box p {
  margin: 0;
  text-align: left;
}
.recent-shirt-title {
    color: #3399fe !important;
    font-size: 14px;
    line-height: normal;
    margin-top: 10px !important;
}
.recent-order-box .cd-desc01 {
    color: #484849;
    font-size: 12px;
    line-height: normal;
}
.recent-order-box .cd-desc02 {
    color: #818181;
    font-size: 10px;
    line-height: normal;
    text-transform: uppercase;
}
.recent-order-box-green {
  border-color: #4caf50;
}
.modal-shipping .modal-dialog {
  max-width: 450px;
  width: 100%;
}
.modal-shipping .modal-header {
  background: none repeat scroll 0 0 #3498db;
  font-family: "Open Sans",sans-serif;
}
.modal-shipping label {
  padding: 0 !important;
  font-weight: normal;
}
.modal-shipping .modal-footer .btn {
  background: none repeat scroll 0 0 #3498db;
    border: 0 none;
    color: #fff;
    font-weight: bold;
}
.modal-title {
  font-family: "Open Sans",sans-serif;
}

/************************************************ RECENT ORDERS PAGE STYLE ***********************************************************************************/
.recent-orders-content th {
  text-align: center;
}
.absolute-footer {
    position: absolute;
    width: 100%;
  bottom: 0;
}
/************************************************ NAV2-WRAP STYLE ***********************************************************************************/

.nav2-wrap {
  font-family: "Open Sans",sans-serif;
  background: none repeat scroll 0 0 #2d4154;
  padding: 10px 0;
}
.nav2-wrap ul {
  padding: 0;
}
.nav2-wrap ul li {
  float: left;
  list-style: none;
}
.nav2-wrap ul li a {
  color: #fff;
    display: block;
    font-weight: bold;
    padding: 12px;
    text-transform: uppercase;
  text-decoration: none;
}
.nav2-wrap ul li a:hover,
.nav2-wrap ul li a:focus,
.nav2-wrap ul li a:active {
  color: #03a9f4;
}
.user-img img {
    height: 33px;
    width: 36px;
}
.nav2-wrap .dropdown a {
  padding: 8px 0 0;
}
.nav2-wrap .caret {
    border-color: #fff transparent;
}
.mainmenu {
  float: right;
    margin: 0 20px 0 0 !important;
    max-width: 265px;
    width: 100%;
}
.mainmenu.dashboard {
  width: auto !important;
  max-width: none !important;
}
.mainmenu .dropdown-menu {
    margin: 0;
  left: -40px;
}
.mainmenu .dropdown-menu li {
    display: block !important;
    float: none !important;
}
.mainmenu .dropdown-menu a {
    color: #444 !important;
    padding: 6px !important;
}
.mainmenu .dropdown-menu a:hover {
  background: none;
}
/************************************************ FOOTER2-WRAP STYLE ***********************************************************************************/

.footer2-wrap {
  background: none repeat scroll 0 0 #2d4154;
    bottom: 0;
    font-family: "Open Sans",sans-serif;
    padding: 20px 0;
}
.footer2-social-icons ul {
  margin: 0 !important;
  padding: 0 !important;
}
.footer2-menu {
  margin: 10px 0 0 0;
  padding: 0;
}
.footer2-menu li {
  list-style: none;
  float: left;
  margin-right: 15px;
  color: #fff;
  font-size: 14px;
}
.footer2-menu li a {
  color: #fff;
  text-decoration: none;
}
.footer2-social-icons ul li {
  margin-right: 3px;
}
.footer2-social-icons ul .last-icon {
  margin: 0;
}


/************************************************ VIEW ITEM STYLE ***********************************************************************************/
.view-item-content {
  font-family: "Open Sans",sans-serif;
}
.view-item-content h3,
.view-item-content h4 {
  font-family: "Open Sans",sans-serif;
  margin: 0 0 20px 0;
  font-weight: bold;
}
.view-item-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px !important;
    padding: 20px 10px;
}

.view-item-box img {
    max-height: 185px;
}
.view-item-box .info-name {
  margin-bottom: 0;
}
.view-item-box span {
    display: block;
    margin-bottom: 10px !important;
}
.user-blue-btn {
  background: none repeat scroll 0 0 #3498db;
    border: 0 none;
    border-radius: 5px;
    box-shadow: 0 -2px 2px #2c81ba inset;
    color: #fff;
    display: inline-block;
    float: right;
    padding: 10px 40px;
}

/************************************************ UPDATE PROFILE STYLE ***********************************************************************************/
.update-profile-form input[type="text"], .update-profile-form input[type="password"] {
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  margin: 20px 0 0;
  padding: 10px;
  width: 100%;
}
.update-profile-form .user-blue-btn {
  margin-top: 15px;
  float: left;
}
.change-pass {
  display: block;
}
.profile-img {
    border: 1px solid #afafaf;
    border-radius: 5px;
    margin: 20px auto 15px;
    max-width: 300px;
    padding: 35px 20px;
    text-align: center;
    width: 100%;
}
.update-profile-content input[type="file"] {
    margin: 0 auto;
}


/*font-family: "Open Sans",sans-serif;*/


/************** MEDIA QUERIES ***************/
@media only screen and (min-width:481px) and (max-width:768px){
  .nav-wrap {
    padding:0;
  }
  .nav-wrap ul {
    float: none;
  }
  .menu-right {
    float: none;
    display: block;
  }
  .nav-wrap ul li {
    display: block;
  }
  .nav-wrap ul li a {
    padding: 10px 0;
    display: block;
  }
  .search-here {
    display: block;
    margin: 0 auto 10px;
    float: none;
  }
  .logo-holder {
    padding-top: 15px;
  }
  .fan-message:before, .fan-message:after {
    width: 20px;
    height: 20px;
    background-size: 100%;
  }
  .fan-message .fan-say {
    font-size: 16px;
  }
  .fan-message {
    padding: 25px 40px 10px;
  }
  .product-price {
    display: block;
  }
  .prefooter-right h3 {
    margin-top: 15px;
  }
  .visible-mobile {
    display: block;
  }
  .stats-content .text-right {
    text-align: center;
  }
  .separator {
      background: none;
  }
  .info {
      float: none;
      margin: 0 auto;
      padding: 10px;
      text-align: center;
  }
  .cart-holder {
      display: inline-block;
      float: none;
      margin: 0 auto;
      position: static;
      right: initial;
      width: 90px;
  }
  .info .cart-btn {
      margin-right: 0;
  }
  .info .question {
      float: none;
      margin: 0;
      text-align: center;
  }
  .logo-holder {
    text-align: center;
  }
  .cart-btn.sticky {
    right: 15px;
  }
  .mainmenu {
    float: none;
    margin: 10px auto !important;
  }
  .footer2-social-icons {
      margin: 15px auto 5px;
      max-width: 190px;
      width: 100%;
  }
  .absolute-footer {
    position: relative;
  }
}

@media only screen and (max-width:480px) {
  .size-chart-btn {
    margin-top:10px;
  }
  .nav-wrap {
    padding:0;
  }
  .nav-wrap ul {
    float: none;
  }
  .menu-right {
    float: none;
    display: block;
  }
  .nav-wrap ul li {
    display: block;
  }
  .nav-wrap ul li a {
    padding: 10px 0;
    display: block;
  }
  .search-here {
    display: block;
    margin: 0 auto 10px;
    float: none;
  }
  .content-shirts .shirt-container,
  .footer-wrap .col-xs-6 {
    width: 100% !important;
  }
  .logo-holder {
    padding-top: 15px;
  }
  .fan-message:before, .fan-message:after {
    width: 20px;
    height: 20px;
    background-size: 100%;
  }
  .fan-message .fan-say {
    font-size: 16px;
  }
  .fan-message {
    padding: 25px 40px 10px;
  }
  .ourfans-banner .col-xs-6 {
    width: 100%;
  }
  .cart-question {
    width: 100%;
    display: inline-block;
    max-width: 373px;
    margin: 0 auto;
  }
  .logo-holder img {
    max-width: 180px;
  }
  .info {
    float: none;
    width: 100%;
    margin: 0 auto;
    max-width: 395px;
  }

  .product-price {
    display: block;
  }
  .prefooter-right h3 {
    margin-top: 15px;
  }
  .visible-mobile {
    display: block;
  }
  .fan-message .fan-say {
      color: #fff;
      font-family: "Open Sans",sans-serif;
      font-size: 30px;
      font-style: italic;
  }
  .ourfans-banner .fan02-photo,
  .ourfans-banner .fan03-photo,
  .ourfans-banner .fan04-photo {
    display: none;
  }
  .stats-content .text-right {
    text-align: center;
  }
  .cart-holder {
    display: inline-block;
      float: none;
      margin: 0 auto;
      position: static;
      right: initial;
    width: 90px;
  }
  .info {
    padding: 10px;
    text-align: center;
    float: none;
    margin: 0 auto;
  }
  .info .cart-btn {
    margin-right: 0;
  }
  .info .question {
    float: none;
    margin: 0;
    text-align: center;
  }
  .separator {
      background: none;
  }
  .process-content h1  {
    font-size: 40px;
  }
  .logo-holder {
    text-align: center;
  }
  .checkout-credit-card input[type="submit"],
  .link-to-paypal {
    font-size: 15px;
  }
  .cart-btn.sticky {
    right: 15px;
  }
  .customer-info-left,
  .customer-info-right {
    padding: 0 !important;
  }
  .customer-info-page .radio label {
    font-size: 11px;
    padding: 12px 0 !important;
    text-indent: 5px;
  }

  .order-summary {
    margin-top: 0;
  }
  .fanteesdash-content .shirt-container {
    width: 100%;
  }
  .mainmenu {
    float: none;
    margin: 10px auto !important;
  }
  .footer2-social-icons {
      margin: 15px auto 5px;
      max-width: 190px;
      width: 100%;
  }
  .absolute-footer {
    position: relative;
  }



  /*modal size-style*/
  .detail-title {
    display: none;
  }
  .visible-mobile {
    display: block;
    float: left;
  }
  .style-title-mobile, .size-title-mobile, .qty-title-mobile, .size-prize-title-mobile {
    color: #2d4154;
      font-weight: bold;
      margin-right: 10px;
      margin-top: 3px;
  }
  .less-btn, .add-btn {
    position: absolute;
    right: 0;
    top: 0;
  }
  .qty-input {
      width: 46%;
    margin-right: 2% !important;
  }
  .qty-input {
      margin-right: 0;
  }
  .size-input {
      margin-bottom: 10px;
      margin-right: 0;
      width: 52%;
  }
  .style-input {
      margin-bottom: 10px;
      margin-right: 0;
      width: 100%;
  }
  .size-price .dollar {
      bottom: 0;
      margin: 0 0 12px;
      position: absolute;
      right: 0;
  }
  .btn-sm-custom-pop03 {
    width: 60%;
    margin-bottom: 35px;
  }
  .lightbox-img-container {
    display: block;
      margin: 10px auto;
      max-width: 140px;
      position: relative;
      width: 100%;
  }
  .btn-sm-custom-pop02,
  .btn-sm-custom-pop {
    width: 100%;
  }
}
@media (max-width: 530px) {
  .zoomContainer {
    display: none;
  }
}
@media (max-width: 768px) {
  .navbar-header {
    float: none;
  }
  .navbar-brand {
    display: block !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse .collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin: 0px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .logo-holder,
  .menu-holder {
    width: 100%;
  }
}
@media (max-width: 1120px) {
  .cart-btn.stk {
    right: 15px;
  }
}

@media (max-width: 320px) {
  .chosen-item-box {
    margin-left: 18px;
  }
}

/****** home page active icons *******/
.bag-on {
  background-image: url("/assets/bag-on-icon.png");
}
.ships-on {
  background-image: url("/assets/ships-on-icon.png");
}