
<div class='footer2-wrap'>
  <div class='center'>
    <div class='col-lg-9 col-md-9 col-sm-9 col-xs-12'>
      <ul class='footer2-menu'>
        <li>©2014 FansTees.</li>
        <li>
          <a href="/">Products</a>
        </li>
        <li>
          <a href="/returns-exchanges">Shipping &amp; Returns Policy</a>
        </li>
        <li>
          <a href="/privacy-policy">Privacy Policy</a>
        </li>
        <li>
          <a href="/terms-of-service">Terms of Service</a>
        </li>
        <li>
          <a href="/contact-us">Contact Us</a>
        </li>
        <div class='clearfix'></div>
      </ul>
    </div>
    <div class='col-lg-3 col-md-3 col-sm-3 col-xs-12 nopadding'>
      <div class='footer2-social-icons'>
        <ul>
          <li>
            <a class='small-fb-icon' href='https://www.facebook.com/fanteesau' target='_blank'></a>
          </li>
          <li>
            <a class='small-tw-icon' href='https://twitter.com/fanteesau' target='_blank'></a>
          </li>
          <li>
            <a class='small-ins-icon' href='http://instagram.com/fanteesau' target='_blank'></a>
          </li>
          <li class='last-icon'>
            <a class='small-pin-icon' href='http://www.pinterest.com/fantees/' target='_blank'></a>
          </li>
          <div class='clearfix'></div>
        </ul>
      </div>
    </div>
    <div class='clearfix'></div>
  </div>
</div>