<div class='nav2-wrap' ng-controller="HeaderCtrl">
  <!-- nav-wrap -->
  <div class='center'>
    <div class='col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center logo-holder nopadding'>
      <a href="/"><img alt='logo' class='logo' src='/assets/logo.png'>
      </a>
    </div>
    <div class='col-lg-9 col-md-9 col-sm-9 col-xs-12 nopadding menu-holder'>
      <ul class='mainmenu dashboard'>
        <li>
          <a href="/my-orders/#/home">HOME</a>
        </li>
        <li>
          <a href="/my-orders/#/orders">ORDERS</a>
        </li>
        <li class='dropdown'>
          <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
            <!--span class='user-img'>
              <img alt='Author' src='/assets/thumbnail-default.jpg'>
            </span-->
            Hi, {{name}}
            <b class='caret'></b>
          </a>
          <ul class='dropdown-menu'>
            <!--li>
              <a href="/my-orders/#/profile">Profile</a>
            </li-->
            <li>
              <a href="/users/sign_out" data-method="delete" rel="nofollow">Logout</a>
            </li>
          </ul>
        </li>
        <div class='clearfix'></div>
      </ul>
      <div class='clearfix'></div>
    </div>
    <div class='clearfix'></div>
  </div>
  <div class='clearfix'></div>
</div>