.nav-wrap.headerPadding
  / nav-wrap
  .center
    .col-lg-3.col-md-3.col-sm-3.col-xs-12.text-left.logo-holder.nopadding
      = link_to root_path do
        / = image_tag "fanteeslogo-rev.png", {:alt => "logo", :class => "logo"}
        = image_tag "logo.png", {:alt => "logo", :class => "logo"}
    .col-lg-9.col-md-9.col-sm-9.col-xs-12.nopadding.menu-holder
      .info
        - opacity = @cart.count > 0 ? 'opacity: 1' : ''
        %a.cart-link{:href => cart_index_path}
          .cart-holder
            .cart-btn
              %span.circle-cart Cart
              %span.cart-num#cart-num-main{style: "#{opacity}"}
                = @cart.count
        .chosen-item-box#cart-item-box
          .chosen-img
            = image_tag "thumbnail-default.jpg", {:height => "50", :width => "50"}
          .chosen-details
            %p
          .clearfix
        .question
          %strong
            Question? Speak to Us
            %span.hotline 1300 76 65 67
      .clearfix
      - unless controller_name == "products" && action_name == "show"
        %nav#menu
          .navbar-header
            %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand.visible-xs{:href => "#"} Menu
          #bs-example-navbar-collapse-1.navbar-collapse.collapse{:style => "height: 1px;"}
            .menu-right
              %ul
                %li
                  = link_to "Shop"
                %li
                  = link_to "About", "about-us"
                %li
                  = link_to "Help?", "/contact-us"
                %li
                  = link_to "FAQ’s", "/faq"
                %li
                  = link_to "Sizing", "", {:data => {:target => "#pop-up-sizes", :toggle => "modal"}}
            .clearfix
    .clearfix
  .clearfix