.topbar
  / topbar
  .center.text-center
    .info
      %a.cart-link{:href => cart_index_path}
        .cart-holder
          .cart-btn
            - opacity = @cart.count > 0 ? 'opacity: 1' : ''
            %span.circle-cart Cart
            %span.cart-num{style: "#{opacity}"}
              = @cart.count
      .question
        Question? Speak to Us
        %span.hotline 1300 76 65 67
      .clearfix
    .clearfix

.nav-wrap
  / nav-wrap
  .center
    .col-lg-2.col-md-2.col-sm-2.col-xs-12.text-center.nopadding.logo-holder
      = image_tag "logo.png", {:class => "home-logo", :alt => "logo"}
    .col-lg-10.col-md-10.col-sm-10.col-xs-12.nopadding.menu-holder
      %nav#menu
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand.visible-xs{:href => "#"} Menu
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          .menu-right
            %ul
              %li
                = link_to "Shop"
              %li
                = link_to "About", "about-us"
              %li
                = link_to "Help?", "/contact-us"
              %li
                = link_to "FAQ’s", "/faq"
              %li
                = link_to "Sizing", "", {:data => {:target => "#pop-up-sizes", :toggle => "modal"}}
            .search-here
              %form
                %input{:type => "submit", :value => ""}
                %input{placeholder: "Search Here...", type: "text", name: "search", value: @keyword}
                .clearfix
          .clearfix
    .clearfix
  .clearfix

/ .nav-wrap
/   / nav-wrap
/   .center
/     .col-lg-2.col-md-2.col-sm-2.col-xs-12.text-center.nopadding.logo-holder
/       = image_tag "logo.png", {:class => "home-logo", :alt => "logo"}
/     .col-lg-10.col-md-10.col-sm-10.col-xs-12.nopadding.menu-holder
/       %nav#menu
/         .navbar-header
/           %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
/             %span.sr-only Toggle navigation
/             %span.icon-bar
/             %span.icon-bar
/             %span.icon-bar
/           %a.navbar-brand.visible-xs{:href => "#"} Menu
/         #bs-example-navbar-collapse-1.collapse.navbar-collapse
/           .menu-right
/             %ul
/               %li
/                 = link_to "Shop"
/               %li
/                 = link_to "About", "about-us"
/               %li
/                 = link_to "Help?", "/contact-us"
/               %li
/                 = link_to "FAQ’s", "/faq"
/               %li
/                 = link_to "Sizing", "", {:data => {:target => "#pop-up-sizes", :toggle => "modal"}}
/             .search-here
/               %form
/                 %input{:type => "submit", :value => ""}
/                 %input{placeholder: "Search Here...", type: "text", name: "search", value: @keyword}
/                 .clearfix
/           .clearfix
/     .clearfix
/   .clearfix