.ourfans-banner
  / ourfans-banner
  %h2 OUR FANS LOVE US AS MUCH AS WE LOVE THEM
  #ourfans-banner.carousel02.slide{"data-interval" => "false", "data-ride" => "carousel"}
    .carousel-inner
      .item.active
        .ourfans-bg1
          .col-lg-3.col-md-3.col-sm-3.col-xs-6.nopadding.fan01-photo
            .fan-message
              %p.fan-say Thanks fantees for this rocking slogan shirt! I've already worn my racer back to the gym!
              %p.fan-name ~ Karen Fraser
          .col-lg-3.col-md-3.col-sm-3.col-xs-6.nopadding.fan02-photo
            .fan-message
              %p.fan-say Love love love my new tee.
              %p.fan-name ~ Lehann Keaton
          .col-lg-3.col-md-3.col-sm-3.col-xs-6.nopadding.fan03-photo
            .fan-message
              %p.fan-say Thank you so much my hubby an avid Rum drinker & collector was stoked with his singlets just love it keep up the good work
              %p.fan-name ~ Shazza Maree
          .col-lg-3.col-md-3.col-sm-3.col-xs-6.nopadding.fan04-photo
            .fan-message
              %p.fan-say Love love the shirt.......and so will my girlfriend.
              %p.fan-name ~ Leanne Shaw
          .clearfix

      .item
        .ourfans-bg1
          .col-lg-3.col-md-3.col-sm-3.col-xs-6.nopadding.fan05-photo
            .fan-message
              %p.fan-say Love the new shirt, first time wearing it and trying out my Super Power at Taylors Hotel in Mackay.
              %p.fan-name ~ Andrew N Maryann Jones
          .col-lg-3.col-md-3.col-sm-3.col-xs-6.nopadding.fan06-photo
            .fan-message
              %p.fan-say Me and my two boys Richard, James. Great tees keep up the good work guys, Cheers
              %p.fan-name ~ Lars Hansen
          .col-lg-3.col-md-3.col-sm-3.col-xs-6.nopadding.fan07-photo
            .fan-message
              %p.fan-say My son proudly wearing his Scotland, it's where my story begins t-shirt, at Hogmanay.
              %p.fan-name ~ Laura Veitch
          .col-lg-3.col-md-3.col-sm-3.col-xs-6.nopadding.fan08-photo
            .fan-message
              %p.fan-say I would like to say a massive thank you for the t-shirt it gets people every time I am one very satisfied customer And I tell everybody where I got it from.
              %p.fan-name ~ Belinda O'Donnell
          .clearfix
      
    .center
      %a.previous-fans{"data-slide" => "next", :href => "#ourfans-banner", :role => "button"}
        = image_tag "big-arrow-right.png", {:alt => "big-arrow-left"}
      %a.next-fans{"data-slide" => "prev", :href => "#ourfans-banner", :role => "button"}
        = image_tag "big-arrow-left.png", {:alt => "big-arrow-right"}
/ end ourfans-banner