.header-wrap
  / header-wrap
  .center
    .col-lg-6.col-md-6.col-sm-6.col-xs-12.nopadding.header-left
      .spacer
      = image_tag "header-img-left.png", {:alt => "header-img"}
      %p Brand New Shopping Cart Lets You Order Multiple Designs Together. Save On Shipping Today & Order 2 Or More!
    .col-lg-6.col-md-6.col-sm-6.col-xs-12.nopadding.text-center
      = image_tag "man-logo.png", {:alt => "man-logo"}
    .clearfix

.banner-stats
  / banner-stats
  .center
    .col-lg-4.col-md-4.col-sm-4.col-xs-12.text-center
      .stats-content.stats-content01
        .col-lg-5.col-md-5.col-sm-5.col-xs-12.text-right.nopadding
          %span.stats-label Fantees on Fans
        .col-lg-7.col-md-7.col-sm-7.col-xs-12.text-center
          .fans-counter
            %ul
              - length = @shipped.to_s.mb_chars.length - 1
              - (0..length).each do |a|
                %li
                  = @shipped.to_s[a]

        .clearfix
    .col-lg-4.col-md-4.col-sm-4.col-xs-12.text-center.middle-stats
      .stats-content.stats-content02
        .col-lg-7.col-md-7.col-sm-7.col-xs-7.nopadding
          %span.stats-label 7 Days Happiness Rating
        .col-lg-5.col-md-5.col-sm-5.col-xs-5.nopadding
          #diagram-id-1.diagram{"data-percent" => "80%"}
        .clearfix
    .col-lg-4.col-md-4.col-sm-4.col-xs-12.text-center
      .stats-content
        = image_tag "love-it-img.png", {:alt => "love-it"}
    .clearfix