= render 'banner'
.content-shirts
  / content-shirts
  .center

    / product group 1 loop start
    - @group1.each_with_index do |p, index|
      - sales     = p.total_sold
      - percent   = (sales / p.sales_goal.to_f) * 100
      - percent   = percent > 100 ? 100 : percent.round
      .col-lg-3.col-md-3.col-sm-6.col-xs-6.text-center.shirt-container
        .shirt-img-holder
          .tcell
            - image = p.product_types.sample
            - if image.nil?
              = image_tag "no_image.png", {alt: p.title}
            - else
              - unless image.front_image.blank?
                = image_tag image.default_img_view(:medium), {alt: p.title}
              - else
                = image_tag "no_image.png", {alt: p.title}

          %a.img-view-details{:href => "/#{p.slug}", :target => "_blank"} View Details
        %p.shirt-label
          %a{:href => "/#{p.slug}", :target => "_blank"}
            = p.title
        .col-lg-4.col-md-4.col-sm-4.col-xs-4.nopadding
          .progress
            .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "57", :role => "progressbar", :style => "width: #{percent}%;"}
              %span.sr-only= "#{percent}% Complete"
        .col-lg-4.col-md-4.col-sm-4.col-xs-4.nopadding
          %p.shirt-sold
            = "#{sales}/#{p.sales_goal}"
            %span.tooltip-holder
              %strong= sales
              sold towards goal of
              %strong= p.sales_goal
        .col-lg-4.col-md-4.col-sm-4.col-xs-4.nopadding
          - if p.campaign_status == 0
            .order-btn-icon
              %span.tooltip-holder Made to Order
          - else
            .ship-btn-icon
              %span.tooltip-holder Ships Today
        .clearfix

      -if index == 1 || index == 5
        .visible-xs.clearfix
      -if index == 3 || index == 7
        .clearfix

    .row.social-links-banner{:style => "width: 100%;"}
      .col-lg-6.col-md-6.col-sm-6.col-xs-12.nopadding
        %h2 Join The Fantees Family
      .col-lg-6.col-md-6.col-sm-6.col-xs-12.nopadding
        .col-lg-3.col-md-3.col-sm-3.col-xs-3.nopadding
          %a{:href => "https://www.facebook.com/fanteesau", :target => "_blank"}
            = image_tag "big-fb-icon.png", {:alt => "big-fb-icon"}
        .col-lg-3.col-md-3.col-sm-3.col-xs-3.nopadding
          %a{:href => "https://twitter.com/fanteesau", :target => "_blank"}
            = image_tag "big-tw-icon.png", {:alt => "big-tw-icon"}
        .col-lg-3.col-md-3.col-sm-3.col-xs-3.nopadding
          %a{:href => "http://instagram.com/fanteesau", :target => "_blank"}
            = image_tag "big-ins-icon.png", {:alt => "big-ins-icon"}
        .col-lg-3.col-md-3.col-sm-3.col-xs-3.nopadding
          %a{:href => "http://www.pinterest.com/fantees/", :target => "_blank"}
            = image_tag "big-pin-icon.png", {:alt => "big-pin-icon"}
        .clearfix

    / product group 2 loop start here
    - @group2.each_with_index do |p, index|
      - sales     = p.total_sold
      - percent   = (sales / p.sales_goal.to_f) * 100
      - percent   = percent > 100 ? 100 : percent.round
      .col-lg-3.col-md-3.col-sm-6.col-xs-6.text-center.shirt-container
        .shirt-img-holder
          .tcell
            - image = p.product_types.sample
            - unless image.front_image.blank?
              = image_tag image.default_img_view(:medium), {alt: p.title}
            - else
              = image_tag "no_image.png", {alt: p.title}

          %a.img-view-details{:href => "/#{p.url}", :target => "_blank"} View Details
        %p.shirt-label
          %a{:href => "/#{p.url}", :target => "_blank"}
            = p.title
        .col-lg-4.col-md-4.col-sm-4.col-xs-4.nopadding
          .progress
            .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "57", :role => "progressbar", :style => "width: #{percent}%;"}
              %span.sr-only= "#{percent}% Complete"
        .col-lg-4.col-md-4.col-sm-4.col-xs-4.nopadding
          %p.shirt-sold
            = "#{sales}/#{p.sales_goal}"
            %span.tooltip-holder
              %strong= sales
              sold towards goal of
              %strong= p.sales_goal
        .col-lg-4.col-md-4.col-sm-4.col-xs-4.nopadding
          - if p.campaign_status == 0
            .order-btn-icon
              %span.tooltip-holder Made to Order
          - else
            .ship-btn-icon
              %span.tooltip-holder Ships Today
        .clearfix

      -if index == 1 || index == 5
        .visible-xs.clearfix
      -if index == 3 || index == 7
        .clearfix

    .clearfix
    .pagination-homepage
      = paginate @products