%div{ng: {controller: "PagesCtrl"}}
  / #content-wrapper{style: "min-height: {{height}}"}
  /   .container
  .main-content.success-page-content{info:"#{controller_name}-#{action_name}"}
    .center
      .row
        .col-md-6.visible-xs.text-center
          %h2 Woohoo!
          %p
            = product = @order.order_items.first.product
            = "You just reserved a #{product.title} top!"
          %p To help us reach our goal and ensure it goes to print use the buttons below to share it with your friends!

          .social-square
            %a{href: pinterest_share(product), target: "_blank"}
              = image_tag "pinterest-icon.png", {alt: "Pinterest"}
            %a{href: twitter_share("#{root_url}#{product.slug}"), target: "_blank"}
              = image_tag "twitter-square-icon.png", {alt: "Twitter"}
            %a{href: fb_share("#{root_url}#{product.slug}"), target: "_blank"}
              = image_tag "fb-square-icon.png", {alt: "Facebook"}

        .col-md-6{:style => "min-height: 500px"}
          .order-summary
            .order-summary-header
              %h3 Order Summary
            .order-summary-body
              - titles = []
              - @order.order_items.each do |p|
                - titles << p.product.title unless titles.include?(p.product.title)

                .item-summary
                  %ul
                    %li
                      = image_tag p.product_type.front_image(:thumb), {:alt => "Shirt"}
                      .product-info{:style => "margin-top: 5px"}
                        %span.product-info-name
                          %strong= p.product.title
                        %span.product-info-description= "#{p.quantity}pc(s) #{p.size.name} #{p.category.name} - #{p.color.name}"
                      %span.shirt-value &nbsp;
                      .clearfix
                  %span.arrive-due-date &nbsp;

          - unless @order.gift_card_id.nil?
            - if @order.giftcards.count != 0
              %br
              .order-summary
                .order-summary-header
                  %h3 Gift Cards Code
                .order-summary-body
                  %table.table

                    %tbody
                      - @order.giftcards.each do |g|
                        %tr
                          %td= g.key_code
                          %td
                            $
                            = g.amount

        .col-md-6.hidden-xs
          %h2{style: "font-size: 32px"} Woohoo!

          /   - if @order.giftcards.count != 0
          /     %p Your Gift Card purchase was successful! To user the Gift Card simply enter Gift Card Code  on checkout for your next purchase.
          /     %p
          /       Your Gift Card Code is to the left and it has also been emailed yo you!
          /   - if @order.giftcards.count == 0

          %p
            You just reserved your
            %strong= titles.to_sentence
            top!
          %p To help us reach our goal and ensure it goes to print use the buttons below to share it with your friends!
          .social-square.text-center
            %a{href: pinterest_share(product), target: "_blank"}
              = image_tag "pinterest-icon.png", {alt: "Pinterest", style: "height: 80px"}
            %a{href: twitter_share("#{root_url}#{product.slug}"), target: "_blank"}
              = image_tag "twitter-square-icon.png", {alt: "Twitter", style: "height: 80px"}
            %a{href: fb_share("#{root_url}#{product.slug}"), target: "_blank"}
              = image_tag "fb-square-icon.png", {alt: "Facebook", style: "height: 80px"}

        .col-md-6
          .thanks-info
            %span.dark Your order will be sent to
            %p
              - shipping_info = ActiveSupport::JSON.decode(@order.shipping_address)
              = "#{shipping_info['Name']}, #{shipping_info['Street1']}, #{shipping_info['CityName']}, #{shipping_info['StateOrProvince']}, #{shipping_info['CountryName']}, #{shipping_info['PostalCode']}"
            %p
              %a.chamge{href: "/my-orders/#/orders/#{@order.order_code}"} Change your shipping Address
            %span.dark
              %p We have emailed you a receipt for your order :)
              %p
                / = "Your order is expected to arrive before #{@delivery_date.strftime("%b %d, %Y")}"

            %p
              %strong What Happens If A Campaign Doesn't Reach It's Goal?
            %p Unfortunately not all campaigns reach their goal, if that's the case then your order will be refunded back to you. To ensure that doesn't happen help us spread the word by sharing with your friends and family!
  }
