#learn.homepage-content-wrap
  / homepage-content-wrap
  .container
    .row
      .col-lg-7.col-md-7.col-sm-7.col-xs-12
        %h2 It’s free and easy to sell merch with FanTees
        %p FanTees will work with you to create an amazing, high quality product that fits the needs of your fans or audience.
        .row
          .col-lg-3.col-md-3.col-sm-3.col-xs-12.text-center.testi1-photo
            = image_tag "jo.png", alt: ""
          .col-lg-9.col-md-9.col-sm-9.col-xs-12
            .say-box
              %p “I absolutely LOVE my “Scumbag College” tank top! FanTees you Rock!”
              %span.say-name
                Jo Boyd
                %br/
                Facebook
      .col-lg-5.col-md-5.col-sm-5.col-xs-12.text-center.circle-img
        = image_tag "gif-1-animation.gif", {alt: "", class: "first-gif"}

.stats-wrap
  / stats-wrap
  .container
    %h2 How much could I be Earning
    %p Use our revenue calculator to find out. Earn up to $20 per tee or $35 per hoodie sold.
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        .stat-box.stat-left
          %h3 Audience Size
          .stat-content
            .row
              .col-lg-5.col-md-5.col-sm-5.col-xs-12.fans-social Facebook Fans
              .col-lg-7.col-md-7.col-sm-7.col-xs-12.fans-count
                %input#fb-fans{:name => "fb-fans", :placeholder => "0", :type => "text"}/
            .row
              .col-lg-5.col-md-5.col-sm-5.col-xs-12.fans-social Twitter Followers
              .col-lg-7.col-md-7.col-sm-7.col-xs-12.fans-count
                %input#tw-fans{:name => "tw-fans", :placeholder => "0", :type => "text"}/
            .row
              .col-lg-5.col-md-5.col-sm-5.col-xs-12.fans-social Youtube Subscribers
              .col-lg-7.col-md-7.col-sm-7.col-xs-12.fans-count
                %input#yt-fans{:name => "yt-fans", :placeholder => "0", :type => "text"}/
            .row
              .col-lg-5.col-md-5.col-sm-5.col-xs-12.fans-social Instagram Followers
              .col-lg-7.col-md-7.col-sm-7.col-xs-12.fans-count
                %input#ot-fans{:name => "ot-fans", :placeholder => "0", :type => "text"}/
                %button.btn.btn-lg.calculate Calculate
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        .stat-box.stat-right
          .col-lg-6.col-md-6.col-sm-6.col-xs-12.nopadding
            %h3 Click Through Rate
            .spacer
            .stat-content
              %ul
                %li 5%
                %li 10%
                %li 20%
            .spacer
          .col-lg-6.col-md-6.col-sm-6.col-xs-12.nopadding
            %h3 Estimated Sales Revenue
            .spacer
            .stat-content
              %ul
                %li
                  $
                  %span.five-percent 0
                %li
                  $
                  %span.ten-percent 0
                %li
                  $
                  %span.twenty-percent 0
            .spacer
          .clearfix

.homepage-content-wrap.homepage-content-bg
  / homepage-content-wrap
  .container
    .row
      .col-lg-7.col-md-7.col-sm-7.col-xs-12
        %h2 Why should I launch a campaign with FanTees?
        %p Avoid the typical complications, stresses and expenses involved with running your ecommerce store.
        %p
          There are no set-up fees, no design fees and no costs
          associated with buying and housing stock.
        %p We manage everything from start to finish using our established network of quality suppliers and our 30+ team of creative professionals.
        .row
          .col-lg-3.col-md-3.col-sm-3.col-xs-12.text-center.testi2-photo
            = image_tag "olivia.png", alt: ""
          .col-lg-9.col-md-9.col-sm-9.col-xs-12
            .say-box
              %p “The tee was a hit for my Mums Christmas present. Thanks Fantees - such great and fast service!!! Merry Christmas ”
              %span.say-name
                Olivia Rickerby
                %br/
                Facebook
      .col-lg-5.col-md-5.col-sm-5.col-xs-12.text-center.circle-img.nofeehassle
        = image_tag "gif-2-animation.gif", {alt: "", class: "second-gif"}

.homepage-content-wrap
  / homepage-content-wrap
  .container
    .row
      .col-lg-5.col-md-5.col-sm-5.col-xs-12.text-center.circle-img.nofeehassle
        = image_tag "gif-animation-3.gif", {alt: "", class: "third-gif"}
      .col-lg-7.col-md-7.col-sm-7.col-xs-12
        %h2 Second to none customer service!
        %p Let’s be honest, your time is too valuable to be caught up dealing with orders, fulfilment and customer service.
        %p So once we have nailed a design - we take care of all the heavy lifting. We will manufacture & ship the product directly to your fans.
        %p We’ll also be your customer first point of call for any service issues. Our customer service is something we’re really, really good at.
        .row
          %p
          .col-lg-3.col-md-3.col-sm-3.col-xs-12.text-center.testi3-photo
            = image_tag "jamie.png", alt: ""
          .col-lg-9.col-md-9.col-sm-9.col-xs-12
            .say-box
              %p Working with Fantees has been a fantastic experience and very profitable fundraiser for our BMX club. From the first contact I had with Rick the whole process was incredibly easy. Fantees designed our shirts and hoodies, sent the proof through we chose the pricing and it was uploaded on their website for sale with links for us to promote within days. They even handled the postage for us. At the end of the sale campaign the proceeds were deposited into our account almost immediately. To be honest we couldn't believe how well it all came together. Thank you Fantees for your help and support.
              %span.say-name
                Anne Williams
                %br/
                Byford BMX Club
                %br/
                Byford WA
