%table{:background => "http://passets-ak.pinterest.com/images/paper.jpg", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tr
    %td#wrapper{:style => "padding:20px 20px 40px;"}
      %table#content{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "620"}
        / begin Branding Header
        %tr
          %td#logo{:align => "center", :style => "padding:20px 0 40px;"}
            %a{:href => "http://www.pinterest.com/website/verify/", :style => "border:none;", :title => "Verify domain"}
              %img{:alt => "Verify website", :height => "52", :src => "http://passets-ak.pinterest.com/images/email/logo.gif", :style => "vertical-align:top;outline:none;border:none;", :width => "200"}/
        / end Branding Header
        / begin Primary Section Header
        %tr
          %td.header{:align => "center", :background => "http://passets-ec.pinterest.com/images/mail/double_rules620.gif"}
            %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
              %tr
                %td{:background => "http://passets-ak.pinterest.com/images/paper.jpg", :style => "background-color:#f7f5f5;"}
                  %h1{:style => "font-family:georgia,serif;font-weight:normal;font-size:22px;line-height:21px;color:#211922 !important;text-shadow:0 1px 0 #FFFFFF;margin:0;padding:0 20px;"}
                    Hi, FanTees!
        / end Primary Section Header
        / begin Comment
        %tr
          %td.comment_wrap{:style => "padding:30px 0 30px 8px;"}
            %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
              %tr
                %td{:style => "background-color:#eceaeb", :width => "1"}
                %td{:style => "background-color:#FFFFFF;padding:0px;border-top:1px solid #eae9e9;border-bottom:1px solid #b2b1b1;border-left:1px solid #d4d2d3;border-right:1px solid #d4d2d3;"}
                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                    %tr
                      %td
                        %table.comment_container{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "617"}
                          %tr
                            %td.profile_image{:valign => "top", :width => "80"}
                              %a{:href => "http://www.pinterest.com/website/verify/", :title => "FanTees"}
                                %img{:alt => "FanTees", :height => "80", :src => "http://media-cache-ec0.pinimg.com/avatars/fantees_1408330089_140.jpg", :style => "vertical-align:top;outline:none;border:none;", :width => "80"}/
                            %td.comment_text{:width => "341"}
                              %p{:style => "font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:14px;color:#211922;line-height:20px;text-shadow:0 1px 0 #FFFFFF;margin:0;padding:5px 0 5px 15px;"} Looking good! You are ready to return to the verification page and complete the process.
                            %td.button_row{:align => "right", :style => "padding:20px;", :width => "140"}
                              %table.button{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                                %tr
                                  %td.button_text{:align => "center", :background => "http://passets-ak.pinterest.com/images/mail/button_borderless.gif", :height => "34", :style => "background-repeat:repeat-x;-moz-border-radius:6px;-webkit-border-radius:6px;-o-border-radius:6px;-ms-border-radius:6px;-khtml-border-radius:6px;border-radius:6px;background-position:top left;background-color:#d43638;border:1px solid #910101;white-space:nowrap;height:34px;"}
                                    %a{:href => "http://www.pinterest.com/website/verify/", :style => "color:#fcf9f9;cursor:pointer;text-align:center;text-decoration:none;vertical-align:baseline;", :title => "Go To Board"}
                                      /[if gte mso 9]   
                                      %span{:style => "padding:9px 15px;color:#fcf9f9;text-decoration:none;color:#fcf9f9;font-family:'helvetica neue',helvetica,arial,sans-serif;font-weight:bold;font-size:18px;line-height:18px;text-shadow:0 -1px #933640;white-space:nowrap;"} Go To Pinterest
                                      /[if gte mso 9]   
                %td{:style => "background-color:#eceaeb", :width => "1"}
              %tr
                %td{:style => "background-color:#eceaeb", :width => "1"}
                %td{:height => "1", :style => "background-color:#d5d3d4"}
                %td{:style => "background-color:#eceaeb", :width => "1"}
              %tr
                %td{:width => "1"}
                %td{:height => "1", :style => "background-color:#e8e6e7"}
                %td{:width => "1"}
        / end Comment
        %tr
          %td{:align => "center", :style => "padding:10px 0 30px;"}
            %h4{:style => "font-family:georgia,serif;font-weight:normal;font-size:21px;color:#211922 !important;text-shadow:0 1px 0 #FFFFFF;margin:0;padding:0;"} Happy pinning!
        / begin Badge Rule
        %tr
          %td#badge_rule{:align => "center", :background => "http://passets-ec.pinterest.com/images/mail/badge_rule620.gif", :height => "18", :width => "100%"}
        / end Badge Rule
        / begin Subscription Notification
        %tr
          %td{:align => "center", :style => "padding:30px 0 15px;"}
        / end Subscription Notification
        / begin Copyright and Legal
        %tr
          %td{:align => "center"}
            %p{:style => "font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:10px;color:#999999;text-shadow:0 1px 0 #FFFFFF;line-height:1.35em;margin:0;padding:0;"}
              %span.symbolfix> ©
              2014 Pinterest, Inc.
              %font{:style => "color:#AAA;padding:0 2px;"} |
              All Rights Reserved
              %br/
              %a{:href => "http://www.pinterest.com/about/privacy/", :style => "color:#999;text-decoration:underline;text-shadow:0 1px 0 #FFFFFF;"} Privacy Policy
              %font{:style => "color:#AAA;padding:0 2px;"} |
              %a{:href => "http://www.pinterest.com/about/terms/", :style => "color:#999;text-decoration:underline;text-shadow:0 1px 0 #FFFFFF;"} Terms and Conditions
        / end Copyright and Legal