%div{:'ng-controller' => "PagesCtrl"}
  .main-content.privacy-content
    .center
      %h2 Privacy Policy
      %p FANTEES PTY LTD, the publisher of this website (hereinafter “the publisher”) understands how important your privacy is. That is why whenever we deal with any personal details, or information about you, we always act in accordance with the Privacy Act 1988 (Cth)
      %p
        %strong Your Personal Information
      %p Personal Information is defined as any information or opinion about you. This can include a variety of general information, such as your address and phone number, to more detailed and sensitive information, such as your annual income or pre-existing medical conditions. The publisher will collect personal information from time to time, but only when a person actively submits the information. As a rule, we do not collect, nor have any use for, information about your religious orientation, sexual orientation, medical conditions, ethnic origin etc.
      %p
        %strong Who Collects Your Personal Information
      %p Your personal information will only be collected by an authorised representative of the publisher. These representatives are generally employees of the publisher, who have been specifically trained to collect and deal appropriately with the sensitive nature of the information we require. Under no circumstances will your personal information ever be disclosed, sold or passed on to a third party, unless specifically and explicitly authorised by you.
      %p
        %strong How Your Information Will Be Collected
      %p The publisher will only collect the information when customers of the publisher enter that information through the website. This information will be collected from you directly when you express an interest in becoming a client / customer of the publisher. Such information will be collected in a variety of ways:
      %ol
        %li Through registering your contact information and any other personal details online, through this Website;
        %li When you complete an electronic, online form through this website at the abovementioned URL;
        %li When you complete a hard copy, printed form obtained either directly from the publisher from a sales representative, or through this website at the abovementioned URL;
        %li When you contact the publisher directly by phone or in person.
      %p
        %strong Storage
      %p The publisher takes great care to store your personal information in such a way as to protect such information from unauthorised access. Your personal information will be stored in a combination of secure computer storage, paper based secure files and other secure recording devices. The publisher makes every effort to ensure your personal information is not lost, misused, stolen, disclosed or abused by anyone.
      %p
        %strong Using Your Personal Information
      %p The publisher will only use the personal information you have provided in the following but not limited to, situations: to advise clients / customers of up-coming exclusive and non-exclusive offers to provide clients / customers with any information that they have requested to assist clients / customers in any way in which they request assistance.
      %p
        %strong Disclosure of Your Personal Information
      %p The publisher will not disclose your personal information in any form, for any reason whatsoever. You personal details and email address will never be sold, traded, given away, disclosed to other users unless requested or allowed by you, or generally disclosed for any reason whatsoever.
      %p
        %strong Keeping Records
      %p The publisher make all reasonable effort to ensure that any personal information that we collect, use and disclose, is correct. However, should any of the personal details and information that we collect, change in any way, it would be appreciated if you could advise the publisher so that our ecords can be updated and continue to be of service to you.
      %p
        %strong Website analytics
      %p To improve your experience on our site, we may use 'cookies'. Cookies are an industry standard and most major web sites use them. A cookie is a small text file that our site may place on your computer as a tool to remember your preferences. You may refuse the use of cookies by selecting the appropriate settings on your browser, however please note that if you do this you may not be able to use the full functionality of this website.
      %p Our website may contain links to other websites. Please be aware that we are not responsible for the privacy practices of such other sites. When you go to other websites from here, we advise you to be aware and read their privacy policy.
      %p Our website uses Google Analytics, a service which transmits website traffic data to Google servers in the United States. Google Analytics does not identify individual users or associate your IP address with any other data held by Google. We use reports provided by Google Analytics to help us understand website traffic and webpage usage.
      %p
        By using this website, you consent to the processing of data about you by Google in the manner described in
        %a{:href => "http://www.google.com/policies/privacy/"} Google's Privacy Policy
        and for the purposes set out above. You can opt out of Google Analytics if you disable or refuse the cookie, disable JavaScript, or
        %a{:href => "https://tools.google.com/dlpage/gaoptout"} use the opt-out service provided by Google.
      %p FanTees.com.au also uses interfaces with social media sites such as Facebook, LinkedIn, Twitter and others. If you choose to "like" or “share” information from this website through these services, you should review the privacy policy of that service. If you are a member of a social media site, the interfaces may allow the social media site to connect your visits to this site with other Personal Information.
      %p
        %strong Our obligations
      %p
        This online service is bound by the provisions of the
        = succeed "," do
          %a{:href => "http://www.google.com/url?q=http%3A%2F%2Fwww.comlaw.gov.au%2FSeries%2FC2004A03712&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNG20gOLd_K8Kyl6uScFicjlSXvMnA"} Privacy Act 1988 (Cth)
        including the
        = succeed "." do
          %a{:href => "http://www.google.com/url?q=http%3A%2F%2Fwww.oaic.gov.au%2Fprivacy%2Fprivacy-act%2Faustralian-privacy-principles&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNHk-rMhQixmhczOLfQfhyA8cxcFuw"} Australian Privacy Principles
      %p
        %strong Contact us
      %p
        = link_to "Contact us about your privacy concerns.", "/contact-us"
      %p Alternatively, you can write to us at:
      %p
        Manager, FANTEES Pty Ltd
        %br
          Brendale Business Hub
          %br
            PO BOX 5583
            %br
              Brendale DC, QLD, 4500
              %br Australia