.main-content.shipping-content
  .center
    %h2 Returns and Exchanges Policy
    %p We get that what we do is a whole lot more than just a tee, it is a chance to show off your passion so we want to make sure you are IN LOVE with your new FanTee, like the butterflies in your tummy kind of love.
    %p But we know there are times though that you may not 100% love your FanTee and this just won't do! If you aren’t 100% in love with your FanTee please get in touch with our Happiness-Heros here
    %p We will make sure that you end up with the FanTee that you LOVE!!
    %p Below are some friendly reminders (and some lawyer speak) that help to ensure we can continue to offer easy and trust based returns/exchanges for you and others who order with us.
    %p
      %strong
        %u All You Need To Know About FanTees Exchanges and Returns
    %p You have the right for a return or exchange in the event that :
    %ul.page-list
      %li The product is faulty or damaged - Eeeek!! (Faulty/Damaged Returns);
      %li The product does not match the sample or description advertised on our website; or
      %li We are required to do so under any relevant laws.
    %p If any of the above applies to you, please provide us with your name and address, your order number and also the reason for the return/exchange. Just get in touch with our Happiness Heroes here so we can help you out.
    %p
      %strong
        %u Condition Of Returned/Exchanged Garments
      %br
      All returns and exchanges must be in original condition with tags still attached. The garment must be returned in a re-sellable state, which means it has not been washed or worn, does not have any food from the night before on it, no pet fur, no perfume scent and no spilt drinks etc (Yes we have had returns where people have sent the tee back with dinner on it, Italian - it smelt really bad!)

    %p In a nut shell the garment must be returned in a condition you would be happy to receive if you had brought a garment from us.
    %p Should your garment be returned in a condition that does not meet our standards we reserve the right to deny any exchanges, credits or refund on your order.
    %p In the event that your garment is a faulty product, the garment must be received and inspected by FanTees before a refund is processed.
    %p
      %strong
        %u Returning Goods Back To FanTees
      %br
      If you wish to return products to us, you must notify us within fourteen (14) days of receiving the products. Claims for refunds or exchanges made outside this time period will be at the sole discretion of FanTees.

    %p Once your request to return a product has been processed and accepted, you will be provided with email confirmation authorising the return. You must include a copy of this confirmation email when you return the products to us.
    %p All returns and exchanges must be sent back to FanTees for inspection before we can proceed with your request.
    %p We will not be responsible for lost, stolen or damaged return deliveries. We recommend that you return the product to us via Registered Post so that you have proof of dispatch. We are not responsible for the delivery costs to return your replacement product on exchanges.
    %p Any returns entitled for a refund will be refunded the cost of goods and the cost of the postage back to FanTees. Please contact our Happiness Heroes before returning faulty goods as we can arrange a return bag for you at our expense.
    %p
      %strong
        %u Provision of refunds or exchanges to you
      %br
      After assessing the condition of the returned products and if your refund is approved, we will send you an email confirming that your refund has been issued. Refunds will be processed within seven (7) days of receipt of returned goods.

    %p All refunds will be issued via the same payment method used to purchase the products. There may be delays in the provision of the refund that may be caused by the issuing bank.
    %p Please contact us if you have not received your refund within ten (10) days of us notifying you that a refund has been issued.
    %p
      %strong
        %u ***IMPORTANT NOTICE ON EXCHANGES/RETURNS***
    %p Exchanges and refunds will not be processed for custom or personalised orders. Please make sure that sizing and artwork is 100% before signing off on the approval.
    %p Change of mind orders that require a return/exchange is at the discretion of FanTees. We reserve the right to deny a refund and only offer a credit or exchange to the same value on change of mind purchases.
    %p
      %strong Please send all returns to:
    %p
      %strong
        FanTees Returns
        %br
        PO Box 5583
        %br
        BRENDALE DC QLD 4500
    %p
      If you have any questions or need to get in contact with us about your order please feel free to contact us at
      %a{:href => "mailto:support@fantees.com.au"} support@fantees.com.au
      or call us on 1300766567
/ success-page-content