.main-content.shipping-content
  .center
    %h2 Our Shipping Policy
    %p Here at FanTees, we are a little bit different. We run a limited time based campaign where designs are available for a limited amount of time (usually 10 days)
    %p In this time frame we collect orders and once the campaign ends we close off the design and get going on creating your brand new FanTee, just for you.
    %p This process takes 10-14 days to have these created and in your hands.
    %p Once your FanTee is created and in our warehouse we ship the same day with Australia Post using their Express Post service. Delivery is generally next business day to most parts of Australia.
    %p We will keep you posted of where your order is up to at every step of its journey.
    %p All orders are dispatched to your nominated address. Within Australia all orders are express posted and usually arrive within 1-2 business days. Tracking information is emailed to you once dispatched and all orders require a signature upon delivery.
    %p Should you not be at your nominated address at the time of delivery your parcel will be returned to your local post office for collection and held for approximately 7 days.
    %p We are able to deliver to your residential address, your place of employment, or postal box. For products to be delivered to your workplace, you will be required to ensure that someone will be there to take receipt of the delivery.
    %p Please Note though, it is your responsibility to provide us with a complete and correct address upon checkout and before closure of the campaign.
    %p If the incorrect address is provided, FanTees is not required to resend your parcel at our expense. In this event you may be charged an additional postage fee to have this re-sent.
    %p Failure to collect your parcel from the post office may also incur additional charges to have this re-sent in the event of your parcel making its way back to us here at FanTees HQ.
    %p If you have any questions on this please get in touch with us (we love a chat!) via email, live chat, phone or even over on facebook!
    %p
      %strong
        %em Important Note for Non Australian Delivery Addresses.
      We ship worldwide from our humble HQ in Brisbane, Australia. Depending on where you are located it can take 3-15 business days to be in your hands. Please note that some countries incur Custom Tax (damn you Governments!!!). This clearly is not our favourite thing but is something to be aware of when ordering from us. Please note that we do not control the custom tax incurred and are not able to refund these charges. Should you choose to not collect your parcel once delivered because of this charge we reserve the right to deny a refund on your order.
    %p Please also do not ask us to mark this as a “gift” or change the valued price of your order. This is against the law and something that we will not do. Sorry to be a downer!
/ success-page-content