%div{:'ng-controller' => "PagesCtrl"}
  #content-wrapper
    / content-wrapper

    #sizechart-content-wrap
      / content
      .container
        .center
          %h2 Size Does Matter
          .col-md-3.left-content.text-center
            %a{"data-target" => "#pop-up-sizes", "data-toggle" => "modal", :href => "#"}

              = image_tag "sizechart/mens-shirt.png"
          .col-md-9.right-content
            %h3 Mens Shirt
            %p
              Use our guide to find your perfect size fit.

            .table-responsive
              %table.table.table-hover.table-bordered.table-curved.text-center
                %tr.th-header
                  %td Size
                  %td
                    %strong S
                  %td
                    %strong M
                  %td
                    %strong L
                  %td
                    %strong XL
                  %td
                    %strong XXL
                  %td
                    %strong XXXL
                %tr
                  %td Width (cm)
                  %td 46
                  %td 50
                  %td 55
                  %td 60
                  %td 65
                  %td 70
                %tr
                  %td Length (cm)
                  %td 71
                  %td 74
                  %td 77
                  %td 79
                  %td 82
                  %td 85
            %p.note *These measurements are of the garments
          .clearfix
          .spacer02
          .col-md-3.left-content.text-center
            %a{"data-target" => "#pop-up-sizes", "data-toggle" => "modal", :href => "#"}
              = image_tag "sizechart/womens-shirt.png"
          .col-md-9.right-content
            %h3 Womens Shirt
            %p
              Use our guide to find your perfect size fit.

            .table-responsive
              %table.table.table-hover.table-responsive.table-bordered.table-curved.text-center
                %tr.th-header
                  %td Size
                  %td
                    %strong S / 10
                  %td
                    %strong M / 12
                  %td
                    %strong L /14
                  %td
                    %strong XL / 16
                  %td
                    %strong XXL / 18
                %tr
                  %td Width (cm)
                  %td 43
                  %td 46
                  %td 49
                  %td 55
                  %td 60
                %tr
                  %td Length (cm)
                  %td 66
                  %td 68
                  %td 70
                  %td 72
                  %td 74
            %p.note *These measurements are of the garments
          .clearfix
          .spacer02
          .col-md-3.left-content.text-center
            %a{"data-target" => "#pop-up-sizes", "data-toggle" => "modal", :href => "#"}
              = image_tag "sizechart/hoodies.png"
          .col-md-9.right-content
            %h3 Unisex Hoodies
            %p
              Use our guide to find your perfect size fit.

            .table-responsive
              %table.table.table-hover.table-responsive.table-bordered.table-curved.text-center
                %tr.th-header
                  %td Size
                  %td
                    %strong XXS / 6
                  %td
                    %strong XS / 8
                  %td
                    %strong S / 10
                  %td
                    %strong M / 12
                  %td
                    %strong L / 14
                  %td
                    %strong XL / 16
                  %td
                    %strong XXL / 18
                  %td
                    %strong XXXL / 20
                %tr
                  %td Width (cm)
                  %td 46
                  %td 49
                  %td 51
                  %td 54
                  %td 57
                  %td 60
                  %td 65
                  %td 71.5
                %tr
                  %td Length (cm)
                  %td 67
                  %td 70
                  %td 72
                  %td 74
                  %td 76
                  %td 79
                  %td 81
                  %td 84.4
            %p.note *These measurements are of the garments
          .clearfix
        / center
      / container
    / content