.main-content.terms-of-service-content
  .center
    %h2 Terms of Service
    %p This Website (referred to in these Terms of Access as the "Website") is operated by FANTEES PTY LTD (“the Publisher”) on the World Wide Web (“WWW”).
    %p The material on the Website is copyright © 2013-14 FANTEES PTY LTD and /or other copyright owners.
    %p The Website is available for you to:
    %p (a) Access conditional on your acceptance without alteration of the terms and conditions set out below/on this linked page. By continuing to access the Website you are agreeing to the terms and conditions set out below in Part I.
    %p (b) Provide information about your product or service conditional on your acceptance without alteration of the terms and conditions set out below/on this linked page. By continuing to provide information about your product or service you are agreeing to the terms and conditions set out below in Part II.
    %p
      %strong Part I – Use of material on the Website
    %p A. Except for the limited use set out in paragraph B you may not use the Website, or the material contained on it, for any purpose. This involves:
    %ul{:style => "list-style:lower-alpha;"}
      %li the reproduction of the material in any material form
      %li the distribution of the material in any material form
      %li re-transmission of the material by any medium of communication
      %li uploading and/or reposting the material to any other site on the WWW
      %li “framing” the material on the Website with other material on any other WWW site.
    %p The above are unlawful in any jurisdiction and are specifically prohibited by these Terms of Access.
    %p B. Notwithstanding the above restrictions on use of the material on the Website, you may download material from the Website for your personal non-commercial use provided you do not remove any copyright and trade mark notices contained on the material.
    %p C. You may not modify or copy:
    %ul{:style => "list-style:lower-alpha;"}
      %li the layout of the Website
      %li any computer software and code contained in the Website
    %p D. The Publisher reserves all intellectual property rights, including, but not limited to, copyright in material and/or services provided by it. The material provided on the Website is provided for personal use only and may not be:
    %ul{:style => "list-style:lower-alpha;"}
      %li re-sold and/or re-distributed in any material form
      %li stored in any storage media
      %li re-transmitted in any media
    %p without the prior written consent of the Publisher
    %p
      %strong Links to other Websites
    %p E. The Website contains links to sites on the WWW owned and operated by third parties and which are not under the control of the Publisher.
    %p
      %strong Disclaimer 1
    %p F. The Publisher is making the Website available for others to publish information without assuming a duty of care to users. The Publisher is not in the business of providing professional advice and gives no warranty, guarantee or representation about the accuracy, reliability or timeliness or otherwise, of the information contained on the Website and /or linked sites on the WWW.
    %p G. To the full extent permitted by law the Publisher disclaims any and all warranties, express or implied, regarding:
    %ul{:style => "list-style:lower-alpha;"}
      %li the accuracy, reliability, timeliness or otherwise of any information contained or referred to on the Website and/or of any linked sites
      %li merchantability or fitness for any particular purpose for any service or product contained or referred to on the Website and /or on any linked sites
    %p H. The Publisher will not be liable under any circumstances for any loss of profits or any damages of any kind recognised by law (even if it has been advised of the possibility of such loss of profits or damages) which are the consequence of you:
    %ul{:style => "list-style:lower-alpha;"}
      %li acting, or failing to act, on any information contained on or referred to on the Website and/or any of the linked sites
      %li using or acquiring, or your inability to use or acquire, any service or product contained or referred to on the Website and/or any linked sites
    %p
      %strong Disclaimer 2
    %p I. The Publisher does not warrant guarantee or make any representation that:
    %ul{:style => "list-style:lower-alpha;"}
      %li the Website, or the server that makes the site available on the WWW are free of software viruses
      %li the functions contained in any software contained on the Website will operate uninterrupted or are error-free
      %li errors and defects in the Website will be corrected
    %p J. The Publisher is not liable to you for:
    %ul{:style => "list-style:lower-alpha;"}
      %li errors or omissions in the Website, or linked sites on the WWW
      %li delays to, interruptions of or cessation of the services provided in the Website, or linked sites
      %li defamatory, offensive or illegal conduct of any user of the Website, whether caused through negligence of the Publisher, its employees or independent contractors, or through any other cause
    %p K. You agree to accept the full cost of any necessary repair, correction and maintenance of any of your computer software or hardware, which may be necessary as a consequence of you accessing the Website.
    %p
      %strong Limitation of liability
    %p L. Disclaimer 1 and/or Disclaimer 2 may not apply to you in jurisdictions in which limitations on or exclusions of warranties or liabilities are not permitted by law. To the full extent permitted by law the Publisher’s liability for any implied warranty or condition is limited, at the choice of the Publisher, to one or more of the following:
    %ol
      %li
        If the breach of an implied warranty or condition relates to services:
        %ul{:style => "list-style:lower-alpha;"}
          %li the supply of the services again; or
          %li the payment of the cost of having the services supplied again.
    %ol
      %li
        If the breach of an implied warranty or condition relates to goods:
        %ul{:style => "list-style:lower-alpha;"}
          %li the replacement of the goods or the supply of equivalent goods;
          %li the repair of such goods;
          %li the payment of the cost of replacing the goods or acquiring equivalent goods, or having the goods repaired.
    %p
      %strong Use of information gathered
    %p M. The Publisher and/or people authorised by it may gather, process and use the information:
    %ul{:style => "list-style:lower-alpha;"}
      %li which you may provide when accessing the Website, such as your name, address, e-mail address and other personal information about you; and
      %li regarding the way in which you use the Website including, without limitation, information acquired through the use of “cookies” programmed during the accessing of the Website.
    %p N. The Publisher may disclose the information to others and authorise others to offer you goods and services using the information acquired through (a) and (b) above.
    %p
      %strong Termination of access
    %p O. The Publisher may terminate access to the Website at any time without giving any explanation or justification for the termination of access, and the Publisher has no liability for any costs, losses or damages of any kind, arising as a consequence of terminating access to the Website.
    %p
      %strong Alteration of Terms of Access
    %p P. The Publisher reserves the right to change these Terms of Access:
    %ul{:style => "list-style:lower-alpha;"}
      %li with or without further notice to you; and
      %li without giving you any explanation or justification for such change.
    %p
      %strong Relevant jurisdiction
    %p Q. If any part of this Agreement is found to be void, unlawful, or unenforceable then that part will he deemed to be severable from the balance of this Agreement and the severed part will not affect the validity and enforceability of any remaining provisions.
    %p R. This Agreement will be governed by and interpreted in accordance with the law of Australia without giving effect to any principles of conflicts of laws.
    %p S. You agree to the jurisdiction of the Courts of Brisbane, Queensland to determine any dispute arising out of this Agreement.
    %p Part II – Terms and conditions relating to the providing of information about your product or service
    %p
      %strong Uploading information
    %p
      1. You represent and warrant in relation to any material and/or information you provide to the Website that:
      %br
        (a) you are authorised to provide the material and/or information;
        %br
          (b) the material and/or information is not defamatory or a malicious falsehood in relation to any product, service, person or corporation;
          %br
            (c) the material and/or information is not the “passing off” of any product or service and does not constitute unfair competition;
            %br
              (d) the material and/or information does not infringe any intellectual property right including, but not limited to, trade marks, service marks or business names (whether registered or unregistered), confidential information and copyright; and
              %br
                (e) the material and/or information does not infringe any legislation or regulations of Hong Kong and equivalent state and territory legislation] and any other parliament competent to legislate in relation to the Website or any law in any country where the material and/or information is or will be available electronically to users of this Website.
    %p
      %strong Licence to use intellectual property
    %p
      2. By uploading any material which is intellectual property including, but not limited to, copyrighted works, trade marks and service marks (the “intellectual property”) on to the Website, you are granting the Publisher a perpetual, non-exclusive and payment-free licence throughout the world to:
      %br
        (a) reproduce, use and exploit the intellectual property, as part of the Website, to the full extent permitted by intellectual property law in any jurisdiction in which the Website is available to users; and
        %br
          (b) allow the Publisher to sub-licence others the same rights granted to the Publisher in (a) above.
    %p
      %strong Removal of information
    %p 3. In relation to any material and/or information included on the Website, the Publisher may remove any material and /or information, including but not limited to links to other sites on the WWW, at any time without giving any explanation or justification, for removing the material and /or information.
    %p
      %strong Limit of liability
    %p 4. The Publisher and its respective officers, employees and agents have no liability for any costs, losses or damages of any kind, which you may incur, arising whether directly or indirectly. This applies in relation to or in connection with any material and/or information or service supplied in respect of this Website; and as a consequence of removing any material and/or information from this Website.
    %p
      %strong Indemnity
    %p 5. You will at all times indemnify and keep indemnified the Publisher and its respective officers, employees and agents (in this paragraph referred to as “those indemnified”) from and against any loss (including reasonable legal costs and expenses) or liability incurred by any of those indemnified arising from any claim, demand, suit, action or proceeding by any person against any of those indemnified where such loss or liability arose out of, in connection with or in respect of any breach of this Agreement by you; and publication of or distribution of the material and/or information supplied by you.