.main-content.shipping-content
  .center
    %h2 User Agreement
    %p
      %strong By violating this user agreement in any capacity, you are subject to an immediate removal of your campaign(s), possible forfeit of profit(s), and potential suspension or termination of your account.
    %p
      %strong By creating a campaign on the FanTees site:
    %ul.page-list
      %li You agree to accept and abide by FanTees Terms of Service in their entirety;
      %li You have explicit, written permission to us any trademarks or copyrights in your designs from the holder of the intellectual property rights;
      %li You agree to refrain from using any copyrights or trademarks in your page text, headline or URL;
      %li You understand and agree that your contact information will be released to a verified complainant of intellectual property infringement;
      %li You agree not to include any offensive, racist, sexist or overtly sexual material in your design, page text, headline or URL;
      %li You agree not to include any reference to the death of an individual or individuals without express written consent from the individual(s) next of kin;
      %li You will not promote your design through means that are against any of the relevant platforms Terms Of Service, or use any “Automated” tools or software to do so;
      %li You will not in any way, shape or form, conduct your promotion of your design in such a matter to damage or bring disrepute to the FanTees brand;
      %li You agree to defend, indemnify and hold FanTees and its affiliates harmless from and against any and all claims, damages, costs and expenses, including reasonable lawyers' fees, arising from or relating to your use of FanTees site and services, your violation of this agreement, or your violation of any rights of another.
      %li You agree that FanTees is not responsible for any damages whatsoever (consequential, indirect or any special damages) including, but not limited to, lost profits, associated with any action taken by FanTees pursuant to this Agreement or your use of the FanTees service.
      %li That at FanTees sole discretion any breach of the above terms may result in cancellation of campaign, forfeiture of any profits earned and cancellation of your FanTees account.
/ success-page-content