.landing-page-content{'ng-controller' => "ProductShowCtrl"}
  / landing-page-content
  .center
    - unless @error.nil?
      .alert.alert-danger
        The Product you purchase was out of stock, Please Try Again Or Call Us At: 1300 76 65 67

    .col-lg-6.col-md-6.col-sm-6.col-xs-12.landing-left
      %h2.visible-mobile
        = @product.title
      .big-img.text-center
        / %span.product-price $10

        / = image_tag @product.product_types.first.front_image(:medium), {alt: "T-shirt", width: "407", height: "434", "data-zoom-image" => "#{@product.product_types.first.front_image}"}
        %img{'ng-src' => "{{selected_thumb_img.medium}}", alt: "T-shirt", width: "407", height: "434", "data-zoom-image" => "{{selected_thumb_img.original}}"}

      .thumbnail-images
        %span{'ng-repeat' => 'img in thumb_images'}
          .thumbnail-holder{'ng-class' => "img.class"}
            %img{'ng-src' => "{{img.thumb}}", alt: "Thumbnail", class: "thumb-front-image", 'ng-click' => "select_thumb_img(img)"}
        .clearfix

    .col-lg-6.col-md-6.col-sm-6.col-xs-12.landing-right
      %h2.hidden-xs
        = @product.title
      %div
        = @product.description.html_safe

      %span.choose-style
        %strong Choose Your Style, Then Click Buy It Now
      .clearfix

      .big-custom-select
        / = select "product_type", "id", @product.product_types.group('category_id').collect {|p| [ p.category.name, p.id ] }, {}, {'ng-change' => "select_product_type(this)", 'ng-model' => "product_type"}
        = select "product_type", "id", {}, {}, {'ng-change' => "select_product_type(this)", 'ng-model' => "product_type", 'ng-options' => 'c as c.name for c in product_types'}
        / %select.e1{:'ng-model' => 'price', :'ng-options' => 'c as c.name for c in prices', :'ng-change' => "selectCategory(this)", :'ui-select2' => "", }

      .qty-size
        / qty-size
        .qty-holder

        - if @product.classification == Product::CLASSIFICATION[:regular]
          .size-holder
            / size-holder
            %h5
              %strong Colors:

            .btn-group{style: "margin-right: 20px"}
              %span{'ng-repeat' => "color in colors"}
                %a.style_color{style: "background-color: {{color.hex}}", title: "{{color.name}}", 'ng-click' => "select_color(color)", 'class' => "{{color.class}}"}

            %a.size-chart-btn.btn.btn-primary.btn-sm{"data-target" => "#pop-up-sizes", "data-toggle" => "modal", :href => "#"} View Size Chart
          .clearfix

      %a.buy-it-now-btn.corner.iradius16{:href => "#", 'ng-click' => "openModal()"} Buy It Now
      - if @product.classification != Product::CLASSIFICATION[:giftcard]
        %h3.sold-big
          = "#{@sales} sold towards goal of #{@product.sales_goal}"
        .progress.progress-big
          - percent = (@sales / @product.sales_goal.to_f) * 100
          - percent = percent > 100 ? 100 : percent.round
          .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "20", :role => "progressbar", :style => "width: #{percent}%;"}
            %span.sr-only
              = "#{percent}% Complete"
        %p
          = "#{@sales} have been sold (towards the original goal of #{@product.sales_goal})"
          %br
          You can keep buying until the campaign ends
        .left-to-buy-timer
          #my-count-down
          %span{:style => "font-size:14px;"} left to buy

    .clearfix
