.landing-page-content{'ng-controller' => "ProductShowCtrl"}
  .center
    .col-lg-6.col-md-6.col-sm-6.col-xs-12.landing-left
      %h2.visible-mobile
        = @product.title
      .big-img.text-center.hidden-xs.hidden-sm
        %img#big-image{'ng-src' => "{{selected_thumb_img.original}}", alt: "T-shirt", width: "407", height: "434", "data-zoom-image" => "{{selected_thumb_img.original}}"}
      .big-img.text-center.visible-xs.visible-sm
        %img{'ng-src' => "{{selected_thumb_img.original}}", alt: "T-shirt", width: "407", height: "434", "data-zoom-image" => "{{selected_thumb_img.original}}"}
      .thumbnail-images
        %span{'ng-repeat' => 'img in thumb_images'}
          .thumbnail-holder{'ng-class' => "img.class", 'ng-show' => "img.thumb != '/assets/thumbnail-default.jpg'"}
            %img{'ng-src' => "{{img.thumb}}", alt: "Thumbnail", class: "thumb-front-image", 'ng-click' => "select_thumb_img(img)"}
        .clearfix
    .col-lg-6.col-md-6.col-sm-6.col-xs-12.landing-right
      %h2.hidden-xs
        = @product.title

      / description here
      .product-description.hidden-xs
        = simple_format @product.description

      %span.choose-style
        %strong Choose Your Style
      %a.size-chart-btnv2.btn.btn-primary.btn-sm{"data-target" => "#pop-up-sizes", "data-toggle" => "modal", :href => "#"} View Size Chart
      .clearfix
      .big-custom-select
        = select "product_type", "id", {}, {}, {'ng-change' => "select_product_type(this)", 'ng-model' => "product_type", 'ng-options' => 'c as c.name for c in product_types', :class => 'e1', :'ui-select2' => ""}
      - if @product.classification == Product::CLASSIFICATION[:regular]
        .qty-size
          / .qty-holder
          /   %h5
          /     %strong Qty
          /   .small-custom-select
          /     %select.e2
          /       %option{:value => "default"} 1
          /       %option{:value => "2"} 2
          /       %option 3

          .size-holder
            %h5
              %strong Colors
            .btn-group{:style => "margin-right: 20px"}
              %span{'ng-repeat' => "color in colors"}
                %a.style_color{style: "background-color: {{color.hex}}", title: "{{color.name}}", 'ng-click' => "select_color(color)", 'class' => "{{color.class}}"}
          .clearfix

      - if @product.status != Product::STATUS[:deactivated] && @product.end_campaign >= Time.now
        %a.buy-it-now-btn.corner.iradius16{:href => "#", 'ng-click' => "openModal()"} Select Size

      - if @product.classification != Product::CLASSIFICATION[:giftcard]
        %h3.sold-big
          = "#{@sales} sold towards goal of #{@product.sales_goal}"

        .progress.progress-big
          - percent = (@sales / @product.sales_goal.to_f) * 100
          - percent = percent > 100 ? 100 : percent.round
          .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "20", :role => "progressbar", :style => "width: #{percent}%;"}
            %span.sr-only
              = "#{percent}% Complete"

        .left-to-buy-timer
          #defaultCountdown

        .clearfix

        / %p
        /   = "#{@sales} have been sold (towards the original goal of #{@product.sales_goal})"
        /   %br/
        /   You can keep buying until the campaign ends
        / .left-to-buy-timer
        /   / .is-countdown#defaultCountdown
        /   #my-count-down
        /   %span{:style => "font-size:14px;"} left to buy
        / .clearfix

        .product-description.visible-xs
          = simple_format @product.description

    .clearfix