!!!
%html{:'ng-app' => "FanTees"}
  %head
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %title Fantees
    %link{rel: "icon", type: "image/x-icon", href: "/favicon.ico"}
    %link{:href => "//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,300,300italic", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "//fonts.googleapis.com/css?family=Lato:400,900,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "//fonts.googleapis.com/css?family=Pacifico", :rel => "stylesheet", :type => "text/css"}
    /[if IE 7]
      %link{:href => "/css/bootstrap-ie7.css", :type => "text/css", :rel => "stylesheet"}
    /[if IE 8]
      %link{:href => "/css/bootstrap-ie7.css", :type => "text/css", :rel => "stylesheet"}

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    - if controller_name == "orders" && action_name == "show"
      = fb_conversion_code(@fb_conversion_ids, 'AUD')
      = fb_custom_audience_code(@fb_custom_codes)
      = ga_code(@ga_codes)
      = criteo_js('thankyou', @order, current_user)

    - if controller_name == 'home' && action_name =='index'
      - if params[:search] && !@group1.empty?
        = criteo_js('search', @group1 + @group2, current_user)
      - else !@group1.empty?
        / = criteo_js('home', '{ event: "viewHome" }', current_user)

    = ga_js
    = perfectaudience_js
    = retargeting_js
    = fb_pixel_code

  %body{style: "visibility: hidden"}
    .site-container
      - if controller_name == 'home'
        = render 'shared/home_header'
      - else
        = render 'shared/header'
      = yield
      = render 'shared/testimonials' if controller_name != "products"
      = render 'shared/pre_footer'
      = render 'shared/footer'
    = render 'shared/sizing'
    = render 'shared/ie_warning'

    - if controller_name == "home"
      = recommend4u_js
      = socail_smart_layer

    = olark_js
    = vwo_js
    = kissmetrics_js