!!!
%html{:'ng-app' => "FanTees"}
  %head
    %title Fantees | Dashboard
    = include_gon
    = stylesheet_link_tag 'dashboard', media: 'all'
    = csrf_meta_tags

  %body{'ng-cloak' => ""}
    .site-container
      %div{'ng-include' => '"/assets/dashboard/components/header.html"'}
      = yield
      %div{'ng-include' => '"/assets/dashboard/components/footer.html"'}

    = javascript_include_tag 'dashboard', 'data-turbolinks-track' => false

    = olark_js
    = kissmetrics_js