!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %title Fantees
    %link{:href => "img/favicon.ico", :rel => "icon", :type => "image/x-icon"}
    = javascript_include_tag 'pages', 'data-turbolinks-track' => false
    = stylesheet_link_tag 'pages', media: 'all'

    /[if IE 7]
      %link{:href => "https://#{ENV['AWS_ASSET_HOST']}/assets/common/bootstrap-ie7.css", :type => "text/css", :rel => "stylesheet"}
    /[if IE 8]
      %link{:href => "https://#{ENV['AWS_ASSET_HOST']}/assets/common/bootstrap-ie8.css", :type => "text/css", :rel => "stylesheet"}
    /[if lt IE 9]
      %script{:src => "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"}
      %script{:src => "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"}
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,300,500,700", :rel => "stylesheet", :type => "text/css"}

  %body
    .site-container
      .header-wrap
        / header-wrap
        / nav-wrap
        .banner-wrap
          / banner-wrap
          .container
            .row.text-center
              %h1 Turn Your Fans Into Your Customers
              %p FanTees lets you sell high quality clothing to your fans... at absolutely no upfront cost. You share with your fans, we handle the rest.
              %a.btn.btn-lg.btn-success{:href => "http://seller.fantees.com.au/signup", :target => "_blank"} Get Started
              %a.btn.btn-lg.btn-warning{:href => "#learn"} Learn More
        / banner-wrap

      = yield

      .bottom-banner-wrap
        / bottom-banner-wrap
        .container
          %h2
            We've helped people & brands generate over
            = succeed "$1,400,000" do
              %br/
          %p Let’s see what we can do for you.
          %a.btn.btn-lg.btn-warning{:href => "http://seller.fantees.com.au/signup", :target => "_blank"} Get Started

      .footer-wrap
        / footer-wrap
        .container
          .row
            .col-lg-4.col-md-4.col-sm-4.col-xs-12.footer-left
              %p
                %a{:href => "/contact-us", :target => "_blank"} CONTACT US
              %p
                1300 76 65 67
                %br/
                %a{:href => "/contact-us", :target => "_blank"} Email Us
            .col-lg-4.col-md-4.col-sm-4.col-xs-12.footer-social
              %ul
                %li.tw-icon
                  %a{:href => "https://twitter.com/fanteesau", :target => "_blank"}
                %li.fb-icon
                  %a{:href => "https://www.facebook.com/fanteesau", :target => "_blank"}
                %li.gg-icon
                  %a{:href => "#", :target => "_blank"}
            .col-lg-4.col-md-4.col-sm-4.col-xs-12.footer-right
              %p
                © 2015 customised.
                %br/
                ALL RIGHTS RESERVED.

    .ie7-warning
      .container
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            %h3 Site is incompatible on Internet Explorer 7 below. Please use latest version of Internet Explorer
            %p
              Please
              %a{:href => "http://windows.microsoft.com/en-us/internet-explorer/download-ie"} CLICK HERE
              for latest Internet Explorer Installer for Windows
              = succeed "Please" do
                %br/
              %a{:href => "http://internet-explorer-for-mac.en.softonic.com/mac"} CLICK HERE
              for latest Internet Explorer Installer for Macintosh
            %p Or you may install other browser here:
            %ul
              %li
                %a{:href => "https://www.google.com/chrome/?"} Google Chrome for Windows
              %li
                %a{:href => "http://download.cnet.com/Google-Chrome/3000-2356_4-75205983.html"} Google Chrome for Mac
              %li
                %a{:href => "https://www.mozilla.org/en-US/firefox/new/"} Mozilla Firefox for Windows
              %li
                %a{:href => "http://download.cnet.com/Mozilla-Firefox/3000-2356_4-10208569.html"} Mozilla Firefox for Mac
