!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      FanTees - New Order
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
  %body
    = yield