!!!
%html{:'ng-app' => "FanTees"}
  %head
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}

    %meta{property: "twitter:account_id", content: "4503599631052683"}
    - if controller_name == "products" && action_name == "show"
      %meta{property: "og:image", content: "#{@product.product_types.sample.default_img_view(:medium)}"}
      %meta{property: "og:image:width", content: "278"}
      %meta{property: "og:image:height", content: "315"}
      %meta{property: "og:title", content: "#{@title}"}
      %meta{property: "og:description", content: "#{@product.sanitized_description}"}
      %meta{property: "og:url", content: "#{root_url}#{@product.slug}"}
      %meta{property: "og:type", content: "product"}
      %meta{name: "description", content: "#{@product.sanitized_description}"}

      %title= "#{@product.title} | FanTees"
    - elsif controller_name == "cart" && (action_name == "creditcard" || action_name == "show")
      %title Secure Checkout | FanTees
    - else
      %title Fantees

    %link{rel: "icon", type: "image/x-icon", href: "/favicon.ico"}

    %link{:href => "//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,300,300italic", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "//fonts.googleapis.com/css?family=Lato:400,900,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "//fonts.googleapis.com/css?family=Pacifico", :rel => "stylesheet", :type => "text/css"}
    /[if IE 7]
      %link{:href => "/css/bootstrap-ie7.css", :type => "text/css", :rel => "stylesheet"}
    /[if IE 8]
      %link{:href => "/css/bootstrap-ie7.css", :type => "text/css", :rel => "stylesheet"}

    = include_gon
    = stylesheet_link_tag    "products", :media => "all"
    = javascript_include_tag "products"

    - if controller_name == "products" && action_name == "show"
      = fb_custom_audience_code(@fb_custom_audience_code)
      = ga_code(@ga_code)
      = socail_smart_layer
      = respond_js
      = perfectaudience_js(@product.url)
      = criteo_js('product', @product, current_user)

    - if controller_name == "cart"
      = criteo_js('cart', @cart.all, current_user)

    = ga_js
    = retargeting_js
    = fb_pixel_code

  %body{'ng-cloak' => ""}
    .site-container
      = render 'shared/header'
      = yield
      = render 'shared/pre_footer'
      = render 'shared/footer'
    = render 'shared/sizing'
    = render 'shared/ie_warning'

    = olark_js
    = vwo_js
    = kissmetrics_js